[2020-07-11 11:15] lukaarma commented on #176
That's for sure better than using the Guid...since I don't have any better idea I'd say that for now we'll use the timestamp.
If you are going to work on this please use the "code_refactoring" branch as a base

[2020-07-11 11:19] beppe9000 commented on #176
sure 👍

[2020-07-11 11:30] beppe9000 commented on #175
basically a format argument , to be used like `--format="@title - @upload_time"`

[2020-07-11 11:36] lukaarma commented on #175
Yeah like that or we can take inspiration from youtube-dl idk...

[2020-07-12 06:17] sortedcord commented on #172
more or less..

[2020-07-12 06:25] sortedcord commented on #172
Oh actually, I tried cloning it and building it in a different directory and it suprisingly worked!!! Thanks for the help!

[2020-07-12 06:25] #172 closed

[2020-07-14 05:48] Alex16324 opened #177 "Concerns"
Hi! I´m actually curious: is there a way for the downloads to be trackeble? ´Cause I was downloading and all the sudden, by almost the end of the download, it came an error of "timeout". But a huge ammount of script was made in red. And it has never happened before. So, is there a way for someone to stop the downloading from the outside?

[2020-07-14 06:58] abrarkhan87 opened #178 "Download does not start"
On some recent videos the download does not start it shown the progress at 0 and does nothing. Works on some other older videos.

![image](https://user-images.githubusercontent.com/52589431/87394361-bfc56980-c5c0-11ea-81e6-b91ca7942949.png)

Thank you for the help.

[2020-07-14 10:32] snobu commented on #175
This project is slowly becoming the FFmpeg of corporate video :) We should probably change our tagline.

[2020-07-14 10:39] snobu commented on #176
As the owner of the video (uploader or whatever it's called), you still can't make a video available for download for a group (or anyone besides yourself), can you?

![bacon](https://user-images.githubusercontent.com/6472374/87416365-45ecaa80-c5d7-11ea-9af6-b4dc6adf4975.jpg)

[2020-07-14 10:41] snobu commented on #176
@lukaarma suggested having a title format parameter on a different thread, i think that's the right way to go and we only need to support Title, Owner (Author) and Publish Date.

[2020-07-14 10:42] snobu commented on #176
Sorry, that was @beppe9000 that suggested it. Credit where credit is due.

[2020-07-14 19:17] snobu commented on #177
No. I mean yes but who would put in the effort to do any of that? Microsoft has bigger fish to fry. The red block of text usually has an error message at the top. That should tell you why it happened, or at least, what happened.

[2020-07-14 19:17] #177 closed

[2020-07-15 14:49] beppe9000 commented on #175
also education :P

[2020-07-15 14:55] beppe9000 commented on #176
Well, in my case (university) both students and professors can record calls on Teams, but they are uploaded to Streams only if the record button was pressed by a professor. So I just discovered that button exists... lol

[2020-07-16 19:21] clalexni commented on #146
I'm new to the open source software world. Not sure what I'm doing, but this is how to get it to work using macOS

1. download the static file on [ffmped](https://ffmpeg.zeranoe.com/builds/)
2. upzip, rename the file name to ffmped, put it in the root file (destreamer/)
3. run `export PATH=./ffmepg/bin/:$PATH` in terminal at the root file

[2020-07-16 19:29] snobu commented on #146
[code]

It's faster but of course you need brew installed.

[2020-07-16 19:42] clalexni commented on #146
oh nice, should have try brew install first

[2020-07-16 22:28] clalexni commented on #139
I had the same issue, seems to be working now. Thanks! btw, Im using zsh

[2020-07-17 02:02] clalexni commented on #139
Had the same exact issue as described...
 `exec bash` in terminal to switch from zsh to bash. Running it with bash fixed the issue.
Just downloaded 3 vids in a row (about 1.5 hour long per video), so far so good :D

[2020-07-17 06:59] snobu commented on #139
Hmm, interesting one. We do run in bash by default,
https://github.com/snobu/destreamer/blob/master/destreamer.sh#L1 not sure why switching shells manually would make a difference.

[2020-07-18 08:28] s-monti97 commented on #110
I fixed "Unhandled error! Timeout or fatal error, please check your downloads directory and try again" by just restarting my computer. Anyway, there is someway to increment token time? I'd like to download links inside a text file, but in 1 hour I just can get about 3 of them.

[2020-07-18 08:39] snobu commented on #110
Yes. Wait for version 2.1, will get pushed next week. Pass -k to the CLI and tick Remember Me during login.

[2020-07-18 08:47] s-monti97 commented on #110
That's wonderful, thanks!

[2020-07-18 19:49] #3 closed

[2020-07-18 20:02] lukaarma commented on #175
closed by #164

[2020-07-18 20:02] #175 closed

[2020-07-19 01:56] lelobirchal opened #182 "First time login with '-k' fails evaluation"
Hello,
I can not login in my Microsoft stream account neither with or without -u key. Is there a way to pass the password with -u key?

I'm using MAC OS and I always got the following:

MBP-de-birchal:destreamer birchal$ ./destreamer.sh  -u XXXXXX@sga.pucminas.br -i https://web.microsoftstream.com/video/4645b55e-3b13-4550-bc48-a205ab8e4897
Using ffmpeg version 4.3.1-tessus  https://evermeet.cx/ffm

[2020-07-19 07:14] snobu commented on #182
Is this with the latest version of the code? We pushed a big overhaul last night, if your code is older than that please do a git pull, rebuild and try again.

[2020-07-19 08:02] snobu commented on #182
Found the problem, the first time you login you will get that error, simply try again and it will work. There's a small bug in the token cache logic for new logins, trying to track this down now.

@lukaarma - this only happens for first logins (no .chrome_data or .token_cache):
[code]

2nd time around seems to be fine.

[2020-07-19 10:13] lukaarma commented on #182
@snobu l have some work to do irl™ today, will look into it tomorrow

[2020-07-20 02:44] cswalke1 opened #183 "ffmpeg Invalid data found when processing input"
I'm using opensuse Leap 15.2.  destremer worked fine in opensuse Leap 15.0.

ffmpeg -v
ffmpeg version 3.4.4 Copyright (c) 2000-2018 the FFmpeg developers

this ffmpeg is from pacman repo

this is what happens:

./destreamer.sh -i https://web.microsoftstream.com/video/xxxx-xxx-x-x-x
Using ffmpeg version 3.4.4 Copyright (c) 2000-2018 the FFmpeg developers

Access token has expired.
Launching headles

[2020-07-20 07:02] snobu commented on #183
Your ffmpeg is a little old, try with a recent version (4.2 or above).

[2020-07-20 13:59] RiccardoJR opened #184 "Error when trying to download with links in a file"
Hi, after the update 2.1.0 when i try to download videos from a file (".txt"). It gives me this error:

[ERROR] TypeError [ERR_INVALID_ARG_TYPE]: The "path" argument must be of type string. Received undefined
    at validateString (internal/validators.js:120:11)
    at Object.join (path.js:375:7)
    at D:\destreamer-master\build\src\VideoUtils.js:78:64
    at Array.forEach (<anonymous>)
    at Ob

[2020-07-20 14:18] s-monti97 commented on #184
I got the same issue. Besides, when chromium get opened, it gets crashed in the next 10-15 seconds and it returns the following error.

`[ERROR] TypeError [ERR_INVALID_ARG_TYPE]: The "path" argument must be of type string. Received undefined
at validateString (internal/validators.js:120:11)
at Object.join (path.js:375:7)
at D:\destreamer-master\build\src\VideoUtils.js:78:64
at Array.forEach ()
at

[2020-07-20 16:34] sblaker commented on #182
I have the same issue

[2020-07-21 04:42] omkar4345 opened #185 "Error: Failed to launch the browser process! spawn"
Dear Team,

Iam getting below error after running destreamer command as suggessted in procedure.

Created directory: videos
Using ffmpeg version 3.4.6-0ubuntu0.18.04.1 Copyright (c) 2000-2019 the FFmpeg developers

[WARNING] .token_cache not found.

Launching headless Chrome to perform the OpenID Connect dance...

[ERROR] Error: Failed to launch the browser process! spawn /home/ansadm/destreamer/n

[2020-07-21 21:26] lukaarma commented on #184
could you try to run with the --verbose/-v flag and paste here your output please? censor as you like usernames or real folder names with fake ones if you like :)

[2020-07-21 21:30] lukaarma commented on #182
@snobu I have some new unwanted features in Life™, this update and all other bug hunting will have to wait sorry :/

[2020-07-21 21:31] lukaarma commented on #178
Have you tried updating to the latest version of Destreamer?

[2020-07-21 21:34] lukaarma commented on #185
It seems that it's having trouble finding the path of chromium...
If you want to try and comment out this line
https://github.com/snobu/destreamer/blob/78e5818cc3d6bca1dd4b3de761b56c47fefa15f2/src/destreamer.ts#L51
and this one
https://github.com/snobu/destreamer/blob/78e5818cc3d6bca1dd4b3de761b56c47fefa15f2/src/TokenCache.ts#L60
rebuild and launch again and let me know how it goes

Sorry if I don

[2020-07-21 21:37] RiccardoJR commented on #184
[VERBOSE] Session and API info
         API Gateway URL: https://euwe-1.api.microsoftstream.com/api/
         API Gateway version: 1.4-private

Parsing input file

[VERBOSE] List of GUIDs and corresponding output directory
        https://web.microsoftstream.com/video/X => undefined

The error is the same as above

[2020-07-21 21:40] lukaarma commented on #184
would you mind sharing the command you are launching and the input file? I can't figure out why it's resulting in an `undefined` directory

[2020-07-21 21:43] RiccardoJR commented on #184
D:\destreamer-master>
[algebra.txt](https://github.com/snobu/destreamer/files/4956400/algebra.txt)
destreamer.cmd -k -v -f algebra.txt
Using ffmpeg version git-2020-07-16-d11cc74 Copyright (c) 2000-2020 the FFmpeg developers

Access token still good for 52 minutes.

[VERBOSE] Session and API info
         API Gateway URL: https://euwe-1.api.microsoftstream.com/api/
         API Gateway version: 1.

[2020-07-21 21:48] lukaarma commented on #184
Thank you very much, found the bug thanks to you file @RiccardoJR! will push a fix as soon as I can

[2020-07-21 23:38] peppelongo96 opened #187 "My artwork here!"
Hi! I compiled a specific version of Destreamer useful for University of Calabria users. Looks up [here](https://github.com/peppelongo96/UnicalDown) and feel free to mention it and suggest features or get inspiration from :)

[2020-07-21 23:46] lukaarma commented on #187
I see that it's based on polidown, if you want we have just released 2.1 that should let the user refresh the session so that it won't crash mid-download and I'm working on a complete implementatiom of aria2c with rpc-json over websoket for better reliability over spawning aria2c as a child process

Take a look at out refresh logic and copy as you like :) I'll try to remember to add your link to t

[2020-07-21 23:47] lukaarma commented on #187
Or if you want I can help you move the uniCal login logic over to Destreamer so that you have a more solid base to start and expand with new features

[2020-07-21 23:47] lukaarma commented on #187
Let me know if you need anything!

[2020-07-22 00:42] peppelongo96 commented on #187
@lukaarma thanks man! I had a look of your work on Destreamer and what you are planning and that is absolutely fantastic! But rebasing UnicalDown on Destreamer properly developing model is a really hard work that not worth it. Unical has not too much aware users that could appreciate the work.
Howewer, in [important notes](https://github.com/peppelongo96/UnicalDown#important-notes), I wrote someth

[2020-07-22 01:00] lukaarma commented on #187
This should be left to the user: they can change their power settings but there is no way to circumvent a system sleep from the nodejs sandbox

First order of business is that I suggest you should change from session cookies, that are extracted unreliably in polidown and switch to session eval in the page like we do
Second I solved (I hope) the refresh session problem by letting chrome create a 20

[2020-07-22 01:12] peppelongo96 commented on #187
@lukaarma okay, got it! I think is something that I can do in not much time. I can adapt your function and also move to session eval. Thanks for all suggestions :) and remind to pin my repo if you feel!

[2020-07-22 01:56] #184 closed

[2020-07-22 04:13] cswalke1 commented on #183
I downloaded ffmpeg-4 package from opensuse leap 15.2 multimedia:libs repo.  Currently at 4.3.1 and I get
"ffmpeg returned an error:  Last message repeated 1 times

Unknown FFmpeg error"

Trying to build from source at the moment to see if that helps

[2020-07-22 04:32] cswalke1 commented on #183
I checked out ffmpeg n4.2.1
now I get:
./destreamer.sh -i https://web.microsoftstream.com/video/XXXXXX-XXXXX-XXXXXX
Using ffmpeg version n4.2.1 Copyright (c) 2000-2019 the FFmpeg developers

Access token still good for 27 minutes.

Fetching metadata...

Downloading Video: Meeting with XXXXXXX

Spawning ffmpeg with access token and HLS URL. This may take a few seconds...
▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄

[2020-07-22 04:53] cswalke1 commented on #183
I also tried n4.3.1...same message

[2020-07-22 06:31] mavink opened #188 "Save login and password"
Please add an option to save the login and password. Puppeteer supports autofilling logins and passwords - https://stackoverflow.com/questions/50074799/how-to-login-in-puppeteer

[2020-07-22 06:45] lukaarma commented on #188
We already support username auto filling.

For the password auto filling:
- In the latest version use the option '-k' and after the first login were you will say yes to "remember me" and from then on you won't need to insert username/pswd
- we won't ever put password as an option for the command because it's extremely insecure to leave your password in your terminal history.
If we ever implement s

[2020-07-22 06:45] #188 closed

[2020-07-22 14:38] peppelongo96 commented on #187
@lukaarma EDIT: I was looking for some way to implement your solution about session exipiring. It requires a total re-implementation of user token managment and so good hours to spend on it. I decided to edit my notes in the Readme project file by pinning [your comment](https://github.com/snobu/destreamer/issues/187#issuecomment-662181930). Maybe someone could working on if already has what and ho

[2020-07-22 14:41] s-monti97 opened #189 "Error after download about two-three videos from txt file"
I'm receiving an error after completing two-three video download with -f text file. Cmd returns this error:
Spawning ffmpeg with access token and HLS URL. This may take a few seconds...

[code]

Somebody can help?

[2020-07-22 15:44] Kizuna-Meraki commented on #170
I tried to download a 3h04m14s video lecture from Microsoft Streams today and destreamer stopped twice at 45% complete and after a reboot, stopped at 94% complete. (Same video link for all three attempts.)

Via brew, I upgraded ffmpeg from 4.2.3 to 4.3.1. Now running destreamer and will update this comment if successful or unsuccessful.

[2020-07-22 16:25] mavink commented on #188
I do not think it is wise to impose your views on security on others. After all Firefox and Chrome auto save passwords. Anyone who opens that browser can go to saved logins and see the passwords. Very few people protect their passwords with a master password.

The reason you are giving does not make sense. By that standard puppeteer should not have an option to send the password to Chrome. And Chr

[2020-07-22 17:38] lukaarma commented on #188
The password in Google chrome are protected by your Google password, I don't know for Firefox

Puppeteer doesn't have a way to specifically send the password and chrome doesn't have a specific way to revive password when controlled by automated software, it's just "normal" I/O that it's needed to automate the browser and you can't filter out password specifically

And even if you ignore the securi

[2020-07-22 17:40] lukaarma commented on #189
Are you using the -k option? If not this is "normal" behaviour because the session token expires after 1 hour

[2020-07-22 18:06] s-monti97 commented on #189
Yes, I'm using: `destreamer.cmd -k -f controlli.txt`

[2020-07-22 20:06] lukaarma commented on #189
And you clicked yes at the "remember me" page?

[2020-07-22 20:55] s-monti97 commented on #189
Yes I did, I can try to re-download repository and launch npm build

[2020-07-23 05:39] HaarisIqubal commented on #185
I still not working i tried both these method

[2020-07-23 13:06] emmanuel-e commented on #188
Okay can you add these two options to puppeteer.launch() in destreamer.ts?

[code]

to

[code]

to make it like this:

[code]

The first option enables a working profile directory for chrome inside the destreamer folder so that the profile can be reused. Otherwise puppeteer creates a random temporary profile directory on every launch.

The second argument allows chrome to prompt to save passwords

[2020-07-23 13:08] mavink commented on #188
Okay can you add these two options to puppeteer.launch() in destreamer.ts?

[code]

to

[code]

to make it like this:

[code]

The first option enables a working profile directory for chrome inside the destreamer folder so that the profile can be reused. Otherwise puppeteer creates a random temporary profile directory on every launch.

The second argument allows chrome to prompt to save passwords

[2020-07-23 13:16] lukaarma commented on #188
https://github.com/snobu/destreamer/blob/master/README.md#usage

we already have a '--keepLoginCookies, -k' option that does exactly that, no need to save the password in chrome. We just need the cookie created after 'remember me'

[2020-07-23 13:18] lukaarma opened #190 "Create title template"
As per title, see this [comment ](https://github.com/snobu/destreamer/issues/175#issuecomment-657049293) for more info

[BUG] Also add a unique id to create more unique filenames (see #176)

[2020-07-23 13:37] lukaarma commented on #185
Did chromium launch and were you able to complete the login procedure?

[2020-07-23 13:38] HaarisIqubal commented on #185
Yes

[2020-07-23 13:40] lukaarma commented on #185
did you use the '-k' option to use the 'remember me' function during login?

[2020-07-23 13:44] HaarisIqubal commented on #185
NO its not working yet

[2020-07-23 14:02] lukaarma commented on #120
@snobu can I close this? I was not able to reproduce even using Airplane mode and is such a rare occurrence that we can safely ignore it, no?

[2020-07-23 14:35] lukaarma commented on #189
could you please let me know ho long were those videos?

[2020-07-23 14:39] lukaarma commented on #185
If you try again do you stil have this problem

`at onClose (/home/ansadm/destreamer/node_modules/puppeteer/lib/Launcher.js:750:14)
at ChildProcess.<anonymous> (/home/ansadm/destreamer/node_modules/puppeteer/lib/Launcher.js:741:65)
at ChildProcess.emit (events.js:314:20)
at Process.ChildProcess._handle.onexit (internal/child_process.js:274:12)
at onErrorNT (internal/child_process.js:468:16)
at pro

[2020-07-23 14:55] omkar4345 commented on #185
Dear All,

The issue due to chromium. Chromium was not getting downloaded with the given procedure and not given error during the same. I noticed chromium directory was not present under puppeteer directory.

Seems it was due to my internet restrictions. Chromium started downloading after I refired the "npm i puppeteer" command.

Thanks for support,

Cheers........
Omkar

[2020-07-23 14:55] #185 closed

[2020-07-23 15:22] lukaarma commented on #176
closing, moving discussion at #190

[2020-07-23 15:22] #176 closed

[2020-07-23 19:48] #182 closed

[2020-07-23 19:48] #187 closed

[2020-07-23 20:11] snobu commented on #120
Strange. I am able to consistently repro this bug. I kick off a download, 5% or so in i tap on Airplane Mode, progress bar goes to 100% and the download finishes with error code 0, so nobody raises any error event.

![image](https://user-images.githubusercontent.com/6472374/88334014-c7f87400-cd39-11ea-9aca-88eb3119168e.png)

What happens in your case?

[2020-07-23 20:59] lukaarma commented on #120
I get an `Unknown FFmpeg error` but if i disconnect my router mid-download I get the same behaviour as you do!

I say we can safely ignore this until I finish working on the aria2c branch when it wont be a problem anymore

[2020-07-23 21:14] snobu commented on #120
Agreed.

[2020-07-23 21:14] #120 closed

[2020-07-23 22:11] lukaarma commented on #190
@snobu any idea on how to implement this in a right way? Because I've drew blanks for 2 hours now, all bad and hackish implementations :/

[2020-07-23 23:23] peppelongo96 commented on #190
@lukaarma In order to more unique filename, the fastest walkable way reamins adding current download timestamp as video ID.
BUT I think that also hours and minutes of video upload could be used "unique" identfier. Because of we can't get them from blob stream, I have a strange idea for how to do.
Stream autogenerates the common black splashscreen video with title and video info. So we could take a

[2020-07-24 00:07] lukaarma commented on #190
The unique id it's the easiest part: `guid -> sha-1 -> random 8 char substr`
I think it's random enough that on a small set like all the videos a user can download we won't have any problems with collision

It's the output template that I'm having trouble with

[2020-07-24 00:56] beppe9000 commented on #190
maybe we could look for templating libraries ?

[2020-07-24 05:58] BhavyaSehgal89 opened #192 "What to do?"
.\destreamer.ps1 -i "https://web.microsoftstream.com/video/a30a2674-c3c7-4552-ab43-483ec6e9874e"

Whenever I run the above command, a notepad opens, saying:

$NodeVersion = Invoke-Expression "node.exe --version"
if ($NodeVersion.StartsWith("v8.")) {
    node.exe build\src\destreamer.js $args
}
else {
    node.exe --max-http-header-size 32768 build\src\destreamer.js $args
}

[2020-07-24 10:39] mavink commented on #188
Okay I can see that you've added a commit on July 19, while I'm using the previous version. where you do use userDataDir.
Thats good.

So can you enable to second option ignoreDefaultArgs: ["--enable-automation"]

You could add an another command line option to enable it.

Or is there a reason why you don't want puppeteer Chrome to also autofill and save passwords? My kid's username is 52 characte

[2020-07-24 11:10] mavink commented on #188
I've also made a GUI to simplify things.
![image](https://user-images.githubusercontent.com/5507645/88385623-4c93d280-cdcc-11ea-9b44-f0aeb3e1f77e.png)

It works well if you let the Chrome GUI save the passwords.

[2020-07-24 11:54] lukaarma commented on #188
They have 2,5 min to fill in they data and that can be increased here
https://github.com/snobu/destreamer/blob/ddecd9e2bc212c091fb0295882bc26c6f992cc11/src/destreamer.ts#L83
Just change the timeout (in milliseconds) to what you'd like

You can always tell Destreamer the username you'd like to fill in with the '-u' option

Sorry for the quick response, when I'll be home this evening I'll expand on

[2020-07-24 13:57] snobu commented on #192
Are you running that inside a PowerShell window?

[2020-07-24 14:15] snobu commented on #190
[code]

Why not keep it simple?
We could have three parameters and let users build their desired filename out of it.
In out templating code we then simply look for `$title` and replace with the title we get from the API call.

[2020-07-24 14:17] mavink commented on #188
Yes I do know that I can increase the timeout, but the point was to avoid typing, not spend all the time typing :)

Yes originally I built the gui to send in the username with -u to destreamer, but I gave up on that when there was no clean way to send the password also. And also that hack will require that the css selector you use to send the username remains stable.

Would prefer to use existing

[2020-07-24 15:39] beppe9000 commented on #190
Yes, that is a good idea. Maybe make a dictionary of avaliable tokens. What I think needs some attention is the fact that this is a CLI tool so identifiers or characters that could be interpreted by the shell should be avoided. I don't know enough about linux but my understanding is that on bash the `$value` denotes variables. Maybe using a `@`, reducing my initial template format idea to somethin

[2020-07-24 15:46] snobu commented on #190
Wrapping things in double quotes would escape shell parsing, but i agree, `{title}` looks better as a parameter.

[2020-07-24 17:51] lukaarma commented on #188
Security. If we don't have any password saved anywhere there's (almost) no security risk for the user

It's still happening even if you use the latest version using the '-k' option?

Since the troubling part of your kids login is the long username I think it's wort wile to use the '-u' option

That's also true for any password fill-in logic we could implement... so what's your point?

Those extens

[2020-07-24 18:18] lukaarma commented on #190
if the user inputs a bad/misspelled parameter such as {titl} should we error out, remove the bad param or just warn the user and leave it as text?

[2020-07-24 18:27] snobu commented on #190
Let's walk the input string twice, once replacing all known variables, second pass (with variables replaced) check if there's still any `{something}` (regex?) and error out. To be honest this won't be as trivial as it may sound so for now i'd say just skip the second pass. Let's just replace what we advertise™.

[2020-07-24 18:33] lukaarma commented on #190
The idea I was coding was a first check during the argv parsing thanks to
yargs to sanitize the template so that when it comes to actually using it
we just need to replace the {elements} without any worries

On Fri, 24 Jul 2020, 20:28 Adrian Calinescu, <notifications@github.com>
wrote:

[2020-07-24 20:21] lukaarma commented on #190
| element name 	| -> 	|        source       	|
|:------------:	|----	|:-------------------:	|
|     title    	| -> 	|    videoInfo.json   	|
|   duration   	| -> 	|    videoInfo.json   	|
| publish date 	| -> 	|    videoInfo.json   	|
|   uniqueID   	| -> 	| generated from guid 	|

[2020-07-24 20:23] lukaarma commented on #190
any other idea for template elements and where can we get them?

[2020-07-25 10:51] BhavyaSehgal89 commented on #192
I am using cmd, PowerShell says “execution of scripts is disabled on this system.”

[2020-07-25 10:53] lukaarma commented on #192
Then you should run destreamer.cmd not .ps1 :D

[2020-07-25 13:54] s-monti97 commented on #189
Of course, they're about 2-3 hours.

[2020-07-25 13:57] lukaarma commented on #189
Before the error in the first message do you remember if there was an image rendered in the terminal or just the text you got?

[2020-07-25 14:01] s-monti97 commented on #189
I really don't remember. I can do some tests these days so I can try helping you to solve this problem.

[2020-07-25 14:05] lukaarma commented on #189
It would be great if you could run again the same command and then the same plus '-x' option and report back what happens
Thanks for your help

[2020-07-25 14:43] beppe9000 commented on #190
I'd normally prefer just a big yellow warning, but I think since this tool implies a lot of wasted time renaming bulk downloaded stuff if the parameter is not correct it may be better to error out, so the user is guaranteed proper file naming. for this a regex like `{(/w+)}` and then print the unrecognized tokens in the error

[2020-07-25 15:27] BhavyaSehgal89 commented on #192
Oh :p. DId that but getting this
[](url)
![2020-07-25_20h55_54](https://user-images.githubusercontent.com/68725314/88460363-5b0be800-ceb9-11ea-945e-408c9d854f98.png)

[2020-07-26 21:35] lukaarma commented on #190
timestamp of what?

[2020-07-27 07:20] namitgpta opened #193 "Speed very slow, always less than 400 kb/s during downloading"
Whenever i download any video, speed is at 400 kb/s and decreases over time. It takes a lot time to download. I have 50 MBPS connection.

[2020-07-27 07:23] lukaarma commented on #193
We know, ffmpeg download the segments sequentially so it's slow, I'm working on a new download method but I have little free time right now, so stay tuned for that in the future

[2020-07-27 07:23] #193 closed

[2020-07-27 07:26] lukaarma commented on #183
I'm sorry for the late response, did you try again with the same issue?

[2020-07-27 18:06] cswalke1 commented on #183
I rebuilt destreamer.sh from the latest code and am still getting the same message as https://github.com/snobu/destreamer/issues/183#issuecomment-662235045

I might as well add, I rebooted into my older opensuse 13.0 to try it there since it was working there before.  It is no longer working there either. Something on microsoft streams has changed that destreamer is not picking up.

[2020-07-27 18:08] cswalke1 commented on #183
I really appreciate this tool, so if I can be of any help in fixing the problem let me know.  I'm currently using simplescreenrecorder to just "tape" the stupid video.  oh well.

[2020-07-27 18:12] snobu commented on #183
I would go one step further and test with a static build of ffmpeg (so you don't touch any OpenSuse dependency).https://johnvansickle.com/ffmpeg/

[2020-07-27 20:15] beppe9000 commented on #190
publish time

yes much better

[2020-07-28 15:11] cswalke1 commented on #183
that did the trick, thank you so much!!

[2020-07-28 15:26] #183 closed

[2020-07-30 02:00] lukaarma commented on #190
we have publish date and time in the table

with this you mean that since it's usually used to download a lot of videos we could save the user a lot of hand edit if we error out instead of warning the user and let him take action if he wants?
@snobu your take on this?

[2020-07-30 06:27] snobu commented on #190
Well, since the user has explicitly told us they want to use the template via whatever parameter name we decide upon i'd say error out if the trmplate format is invalid. An exir code of its own is desired here.

[2020-07-30 18:43] AnmolTomer commented on #189
Try doing a `git pull` followed by `npm install` and then `npm run build`, I was facing the same issue, but pulling in newer changes from parent repo, fixed it for me.

[2020-08-04 21:05] bruno-telstar opened #195 "User's video list"
Hi everyone.

Is there a way to get all video URLs a user has using this API?

Best regards,

Bruno

[2020-08-05 02:48] popwee416 opened #196 "Wish to have feature to use proxy"
Hope we can add feature to support proxy in the command such as --proxy , so that we can use proxy to download in faster speed or when we are in restricted network.

Thanks

[2020-08-05 20:26] lukaarma commented on #196
Hi I'm on vacation, I'll be back next week and I'll look into it

[2020-08-05 20:27] lukaarma commented on #195
Hi I'm on vacation, I'll be back next week and I'll look into it

[2020-08-06 10:09] snobu commented on #196
We have a dependency on ffmpeg, even if we honor proxy settings we would need to find a way to convince ffmpeg to use the same proxy, worse if we add `aria` as a dependency as well... you see where this is going.

Just spin up a VM somewhere where you don't need a proxy to access the internet.

[2020-08-06 22:40] lukaarma commented on #196
@snobu if I'm not mistaken aria has proxy settings and when we use aria ffmpeg will be all offline

[2020-08-06 22:42] lukaarma commented on #174
Follow the instructions in the README, if you search on YouTube there's also a "tutorial" on our tool

[2020-08-06 22:42] #174 closed

[2020-08-06 22:45] lukaarma commented on #171
Closing as inactive

[2020-08-06 22:45] #171 closed

[2020-08-07 11:07] snobu commented on #196
Ah i see. Ok, i'm gonna start a new _Project_ for destreamer v3 and link this issue there. Yes, i guess we could expose aria's configuration somehow (either though a `.destreamer` config file or CLI params) - https://aria2.github.io/manual/en/html/aria2c.html?highlight=all%20proxy#http-ftp-sftp-options

[2020-08-07 11:07] #196 closed

[2020-08-07 11:27] snobu commented on #195
This is the API that returns that:
[code]

Not sure why this would be useful in destreamer as you can already download your own videos (that you've uploaded) from the MS Stream page (go to your video -> three dots -> Download).

[2020-08-07 11:44] popwee416 opened #197 "Ability to merge(concat) videos when downloading multiple URLs"
As Teams' recording sucks... a long recording will be break into multiple streams when we pause in the middle, so it is very frequent to download multiple URLs and need to concat manually. For example:

(echo file '1.mp4' & echo file '2.mp4' & echo file '3.mp4' & echo file '4.mp4') | ffmpeg -protocol_whitelist file,pipe -f concat -safe 0 -i pipe: -vcodec copy -acodec copy "result.mp4"

Thus, it wi

[2020-08-07 19:16] snobu commented on #197
I like this idea, i'm adding it to our destreamer v3.0 milestone. Can't promise anything but we'll try to have it in v3.

[2020-08-07 19:16] #197 closed

[2020-08-07 19:55] bruno-telstar commented on #195
Thank you very much, I will try this!

[2020-08-08 13:13] lukaarma commented on #195
@bruno-telstar you wanted a list of all the videos the user has uploaded or the user can view?

[2020-08-08 14:30] Anhunghezo opened #198 "Low download speed"
![image](https://user-images.githubusercontent.com/44318468/89712799-6aad2580-d9bd-11ea-8025-9fbdbb9af6b2.png)

Can you improve the download speed?
My speed is really low.
Normal download speed is 3MB/s in my area.

Can I have multiple cmd windows open at the same time?

[2020-08-09 12:16] 71walceli opened #199 "FFmpeg returned an error: Could not write header for output file #0 (incorrect codec parameters ?): Invalid argument"
I was trying to download a Stream video for the first time, but I kept getting this error:

[ERROR] FFmpeg returned an error: Could not write header for output file #0 (incorrect codec parameters ?): Invalid argument

[FATAL ERROR] Unknown FFmpeg error

I just installed FFmpeg and nodejs.

It does seem to find the videos I indicate.

Fortunately, I hot it to download by doing this, testing with co

[2020-08-09 12:38] snobu commented on #199
1.Don't use - -vcodec, you don't need to as the videos on MS Stream are already H264 emcoded.
2. Your ffmpeg us very old. Google for ffmpeg static builds and you'll find a newer one for Ubuntu (>v4.2)

[2020-08-09 16:13] 71walceli commented on #199
Ok

It's maybe the version of my distro that doesn't let me get the latest. I have Linux Mint 18.3, based on Ubuntu 16.04, I guess... You're right...

[code]

[2020-08-09 16:16] 71walceli commented on #199
Do you mind explaining how I should use a static build with `destreamer`?

[2020-08-09 18:21] snobu commented on #199
Here you go, https://johnvansickle.com/ffmpeg/

Extract and drop the ffmpeg binary somewhere in your PATH. Uninstall the old one via apt remove.

[2020-08-10 13:55] bruno-telstar commented on #195
Hi Luka,

Actually I have to download all the videos recorded by a specific user. So I need the video URLs to donwload it using destreamer.

Thank you!

[2020-08-10 14:41] 71walceli commented on #199
Thanks for your support. `destreamer` is working fine for me.

[2020-08-10 14:51] #199 closed

[2020-08-10 18:56] roshanconnor123 opened #200 "[FATAL ERROR] Destreamer cannot run in an elevated (Administrator/root) shell."
Hello there.
When I try to download one video I got this error
The command I used was
[code]
[code]
How Can I fix this
Thank you
PS: I was running it in Ubuntu v18

[2020-08-10 19:02] lukaarma commented on #200
As the error says you must not run this in an elevated shell.
Are you using root as the default user?

[2020-08-10 19:02] roshanconnor123 commented on #200
Yes
I am running it as root

[2020-08-10 19:03] lukaarma commented on #198
In the next big update there will be a big improvement in the download speed but we don't have an ETA for that update, sorry

You sure can

[2020-08-10 19:05] lukaarma commented on #195
Ok, so using the endpoint provided by @snobu should do the trick, let me know if you need help using it

[2020-08-10 19:18] lukaarma commented on #200
Yes that would be a workaround

[2020-08-10 19:45] roshanconnor123 commented on #200
@lukaarma got this error now
[code]
How can I fix this please
Thanks

[2020-08-10 22:32] 71walceli commented on #189
I was also facing this. To work around it, I made the following shell script:

[code]

I'm using Linux Mint, so this script is for Bash. Hope it helps.

[2020-08-11 05:31] Anhunghezo commented on #198
Thank you so much <3

[2020-08-11 05:31] #198 closed

[2020-08-11 13:39] lukaarma commented on #200
If you try and run it again it keep happening?
If it's the case then please try to do a clean install in another folder and try again

[2020-08-11 13:39] lukaarma commented on #178
Closing as inactive

[2020-08-11 13:39] #178 closed

[2020-08-11 15:04] kryztiandt commented on #200
have you try run in "standard user" not in administrator user?

[2020-08-11 21:39] qpham5o4 opened #201 "Server returned 5XX Server Error reply"
I installed everything as expected.  This is on Catalina, latest version.

The 1st attempt came back with the error 'Server returned 5XX Server Error reply'.  The 2nd attempt I got. 'Invalid data found when processing input [FATAL ERROR] Unknown FFmpeg error'.

[2020-08-11 22:58] lukaarma commented on #201
The first error it's nothing we can do something about.
For the second one I suggest you to try and download the most recent ffmpeg (static if possible) and try again

[2020-08-11 22:59] lukaarma commented on #167
closing as inactive

[2020-08-11 22:59] #167 closed

[2020-08-11 23:06] qpham5o4 commented on #201
Hey,

Thanks for responding quickly.

I actually do have the latest ffmpeg.  I ran it a 3rd time after opening this issue and it just worked.  3rd times the charm I guess.  Weird.

[2020-08-11 23:09] lukaarma commented on #201
Yeah...that ffmpeg "bug" it's something that we couldn't figure out since it's so random and unusual.
Don't worry, I'm (slowly cause no free time) working on v3.0 that will rely on ffmpeg only locally so no more weird bugs

[2020-08-11 23:10] lukaarma commented on #201
Closing as solved

[2020-08-11 23:10] #201 closed

[2020-08-12 16:10] #190 closed

[2020-08-12 18:06] Olgabrezel commented on #132
@alessandrotodisco Did you by any chance find a solution on how to download those kinds of videos? I'm having the same problem now and I can't figure anything out other than using a screen recorder :/

[2020-08-12 20:38] gabrc52 opened #204 "Change user agent"
Would it be possible to change the user agent to a standard Windows+Chrome user agent?

Otherwise, it might be possible for Office365 administrators to tell I'm using `destreamer`.

[2020-08-12 20:50] lukaarma commented on #204
You could change our user agent but ffmpeg would still use theirs so you'd have to change that one also for it to be ""stealth"".
I'm using that because a willing admin could easily see that you are using destreamer from the unusual requests that miss stuff like tracking cookies and whatnot.
I wouldn't stress about this because I can't believe that someone would be there looking for people downloa

[2020-08-13 09:56] alessandrotodisco commented on #132
@Olgabrezel Unfortunately no. The only boring solution I found is by using a screen recorder..

[2020-08-13 10:00] lukaarma commented on #132
@Olgabrezel @alessandrotodisco I'm sorry that I can't help you but I have no such video at my disposal to do some reverse engineering and tell you if and how to download them :/

[2020-08-13 13:58] #204 closed

[2020-08-14 13:33] Olgabrezel commented on #132
@lukaarma It would be so awesome if you could try that! For such a video - the link that alessandro posted above works for me. I just logged in on Microsoft and chose to participate anonymously and the video loaded. So perhaps you could use that for testing?

[2020-08-14 14:41] lukaarma commented on #132
did the deed, I reversed the platform logic and lo and behold I have the url of the video and the auth token

### BUT

the video is streamed using SmoothStreamingMedia, proprietary format of Microsoft. I have to do some more digging to find a good and working downloader for that but in the meantime I leave these here
[code]

[2020-08-14 18:39] aaronjohnsabu1999 opened #206 "Changing the Browser"
Every time I use _destreamer_, I have to log into my Microsoft school account, which only permits 10 instances. This seems to be a difficult task to deal with. How can I change the browser for _destreamer_ to MS Edge or Google Chrome? I guess there should not be any issues since both browsers are based on Chromium.

[2020-08-14 18:44] lukaarma commented on #206
You can check out the -k option here that saves the cookies so that once you login it wont as it again, see [here](https://github.com/snobu/destreamer/issues/190#issuecomment-666152780)

f you really want to change it to your installation of chrome you can do so changing this line
https://github.com/snobu/destreamer/blob/5b62c50b220b1e784bd21654f634105e78249c76/src/PuppeteerHelper.ts#L20
to be `re

[2020-08-14 18:51] aaronjohnsabu1999 commented on #206
Thanks. I realized this from [#204](https://github.com/snobu/destreamer/issues/204).
Thanks for the flexibility of the package!

[2020-08-14 18:51] #206 closed

[2020-08-15 11:33] snobu commented on #200
Closing. Just don't run as root.

[2020-08-15 11:33] #200 closed

[2020-08-15 17:09] snobu commented on #132
FFmpeg may be able to download SmoothStreaming as is. If it's not i believe we can form an HLS URL out of it, i highly doubt they only publish a SS stream. Can you post the manifest URL (censored) so i can have a look?

[2020-08-15 17:58] lukaarma commented on #132
Ffmpeg doesn't parse SS playlists

I tried getting the hls as we do in Destreamer with (format= hls.codeword.thatIdontRemember) at the end of the URL instead of (format=SS.thatIdontRemember) but no dice the server doesn't have the encoding

As soon as I'm on my pc I'll send you an email with links and the SS playlist I was able to download

As per converting to HLS it should be quite easy with a s

[2020-08-21 03:33] RenanZX opened #208 "WSL Support"
Hi i commonly use WSL because i'm a Windows user, could you guys please add destreamer support for WSL? Thanks

[2020-08-21 08:01] lukaarma commented on #208
It should work out of the box there, just follow the README! :D
Btw on windows there's a powershell script you can use to launch Destreamer

[2020-08-21 08:01] #208 closed

[2020-08-21 11:59] NekfhO opened #209 "does destreamer work with recorded meetings"
I tried to see all the prev issues but I don't see any one mentioned it

I have the recorded meeting that I try to download

https://teams.microsoft.com/l/meetup-join/19%3ameeting_ZWVmMzlkYWQtYTgwNC00Y2NkLWFjYjctMzc0NzQ4NjUxNmM2%40thread.v2/0?context=%7b%22Tid%22%3a%225bdb760f-3a57-4f3b-8dc9-2fcbb9d23406%22%2c%22Oid%22%3a%2206dd16bb-6377-4979-8e4d-4070a7e20e15%22%2c%22IsBroadcastMeeting%22%3atrue%

[2020-08-21 12:35] #209 closed, assigned to nobody

[2020-08-25 09:05] plachta11b opened #210 "Docker container"
I did not found official container so there is mine for others who does not like to install any packages except docker and XQuartz. Tested on MACOS and with small modification should work on linux too.

### Dockerfile
[code]

### How to use on MACOS
[code]

Docker hub: https://hub.docker.com/r/plachta11b/destreamer

This tool helped me download some lectures. Thank you :)

[2020-08-25 09:36] lukaarma commented on #210
We just need to add your link to the docker hub in the README for this right? There's no real file to create in our repo right?

Sorry for the dumb question but I just know how docker works in theory but I have no idea how you actually start/implement it

[2020-08-25 11:01] plachta11b commented on #210
File "Dockerfile" is often placed into project root dir (when owner use docker). Problem is that I am unable to maintain it because I have only temporary access to teams. Link it only as inspiration for others please. It would be great to remove dependency on Xserver by passing password into browser in headless mode. User would be able to download video with only one command.

@lukaarma You are ri

[2020-08-25 14:23] ricardoroehe opened #211 "Unnecessary login request"
Greetings!

I'm trying to download a video from Microsoft Teams, but by using anonymous access.

You can check it out here:
https://teams.microsoft.com/l/meetup-join/19:meeting_N2UyZjhiMjYtNmEwOS00ZTRjLTgxMGMtM2NlMTRlZDczOTQ0@thread.v2/0?context={"Tid":"29e081cc-983f-4d52-b1d0-103595213bc6","Oid":"683f4a6e-3974-43ef-a2c5-f1a8b63482a9","IsBroadcastMeeting":true}
1) On the 1st screen: "Watch on web

[2020-08-25 14:49] lukaarma commented on #211
As you can see in #209 Destreamer doesn't work with teams videos
You can find some info about a possible workaround in #132 but I don't have time to finish it now.

[2020-08-25 14:49] #211 closed

[2020-08-25 14:53] lukaarma commented on #210
Could you please post a fixed docker file? :D

@snobu, could you take a look at this and advise on what to do?

[2020-08-25 15:44] plachta11b commented on #210
New improved version with latest commit .D

build: `docker build -t destreamer:latest .`

run: `docker run -v $(realpath ./video):/video -v /tmp/.X11-unix:/tmp/.X11-unix destreamer:latest -i "https://web.microsoftstream.com/video/VIDEO-1" -o /video`

Tested without CHROME_DEVEL_SANDBOX and it works. It was added due to error I had got in past due to xquartz not runnning.
<details><summary>Error wh

[2020-08-25 16:33] ethanhines opened #212 "[ERROR] TimeoutError: Timed out after 30000 ms while trying to connect to the browser! Only Chrome at revision r722234 is guaranteed to work."
## PLEASE NEVER PASTE YOUR ACCESS TOKEN INTO A GITHUB ISSUE AS IT MAY CONTAIN PRIVATE INFORMATION

I am using a iMac 16.2 8GB RAM,1TB. I get this "Error" all the time. I have deducted that it's related to the time your program is allowing for the "drone" chrome to open to the login screen. I request that you increase the delay time to more than 30,000ms=30seconds. In some cases due to insufficient

[2020-08-25 17:07] lukaarma commented on #212
This happens when you first launch Destreamer or while it's running?

[2020-08-25 17:48] ethanhines commented on #212
It can happen at anytime. But yes usually the first time I run the program it stalls. I run it again and it seems to respond faster.

[2020-08-26 12:47] lukaarma commented on #212
you can try to add a line between this two
https://github.com/snobu/destreamer/blob/7fc7c4733aa9f79a28d163888834c1c01bd93679/src/destreamer.ts#L50-L51
and add this code
`timeout: XXXXXXX,`
where XXXXXX is the number of millisecond Destreamer will wait for the browser to spawn (I suggest to start with 90000 and move up from there if needed)

[2020-08-26 12:49] lukaarma opened #213 "TODO add info to readme"
- Add link to Università di Parma (see #202)

[2020-08-26 12:50] lukaarma commented on #170
Closing, see #203 for discussion

[2020-08-26 12:50] #170 closed

[2020-08-26 14:23] ethanhines commented on #212
I realize this is open source but I am not a programmer. I don't even know where to begin. I had a hard enough time following the steps to install the program. I would appreciate a update to the program as I am sure I am not the only one who has experienced this error.

[2020-08-26 16:12] lukaarma commented on #212
clone [this ](https://github.com/snobu/destreamer/tree/fix_browser_timeout) instead of master in a new folder, build and run

[2020-08-26 17:13] ethanhines commented on #212
Thank you! It seems to be working perfectly now!

[2020-08-26 19:40] kostapsimoulis opened #214 "Request failed with status code 500 // Console.log response body on 500 errors"
Hello,

I am getting requested failed with status code 500 error. I was wondering if there is a way to debug this. The verbose output does not give much details.

destreamer version: latest master
NodeJs: 12.18.3
ffmpeg: 4.2.2, 4.3.1 and latest master
Chromium: 80.0.3987 64 bit
OS: Windows 10
Shell: Powershell and cmd

I tried to open Chromium manually from node_modules/puppeteer/.local-chromium/w

[2020-08-26 19:47] snobu commented on #214
You could add `console.dir(err)` right before this line here and rebuild.
https://github.com/snobu/destreamer/blob/7bfc565a05ffc95e462afa56cff3419f9b3592bb/src/ApiClient.ts#L30
That should print out the body of that 500 error as well.

[2020-08-26 20:16] kostapsimoulis commented on #214
Thank you @snobu the error is very clear now, it was proxy related so I am closing this issue.

[2020-08-27 09:14] snobu commented on #214
Reopening this since we should return response body in the final throw. Thanks for pointing out `verbose` doesn't do that, @kostapsimoulis.

[2020-08-28 05:17] ShaleenAg opened #215 "ERROR: Failed to launch browser process"
When I try to download using destreamer this is the output I get

[code]

I am running it on wsl in windows , I have checked the missing file is present

![Screenshot_22](https://user-images.githubusercontent.com/44058516/91524036-ca8f5000-e91b-11ea-831e-45b16d25fde1.jpg)

[2020-08-28 07:34] snobu commented on #215
Looks like you're missing libnss3-dev. Try this:
[code]

[2020-08-28 08:51] KhalidQasim opened #216 "[ERROR] Error: Failed to launch the browser process! - libatk-1.0.so.0"
sudo apt install libtaktuk-1-dev
Reading package lists... Done
Building dependency tree
Reading state information... Done
The following NEW packages will be installed:
  libtaktuk-1-dev
0 upgraded, 1 newly installed, 0 to remove and 0 not upgraded.
Need to get 9980 B of archives.
After this operation, 33.8 kB of additional disk space will be used.
Get:1 http://archive.ubuntu.com/ubuntu focal/unive

[2020-08-28 14:25] ShaleenAg commented on #215
Tried it but it didn't work . libnss3 was installed without any problems , here's the output
[code]
it's asking for libcups or something, I have tried searching for it but couldn't figure out the package needed

[2020-08-30 10:08] #212 closed

[2020-08-30 10:13] lukaarma commented on #216
I don't think you installed the right package, could you try this `sudo apt-get install libatk1.0` and let me know?

[2020-08-30 10:18] lukaarma commented on #215
This should be the right package to install `sudo apt-get install libcups2`
([source here](https://ubuntu.pkgs.org/20.04/ubuntu-main-amd64/libcups2_2.3.1-9ubuntu1_amd64.deb.html))

[2020-08-30 10:23] lukaarma commented on #213
@snobu what should we do about the dockerfile? And would you like if I uploaded all the progress I made on a better aria2c implementation even if its quite broken because I don't have time to do it now, so maybe you could take a look/ work on it?

[2020-08-31 10:01] ShaleenAg commented on #215
I solved that and there were some other packgaes missing too which I had to install  but when i launch it from my wsl it opens the chrome window in wsl but it crashes every time when loading the Microsoft login page
Is there anyway I could execute it in windows without using a VM?

[2020-08-31 15:27] lukaarma commented on #215
You can install node and ffmpeg in windows and run it there without any problem

[2020-09-01 10:00] plachta11b commented on #210
I will do more testing of this feature. How about that GUI and X server dependency? Is there way to pass password without opening browser?

[2020-09-01 10:07] lukaarma commented on #210
There's not an efficient way, every Tennant could have different login procedures/multiple logins/2FA
So we have to keep the xServer

[2020-09-01 10:08] snobu commented on #210
I'm afraid not. Maybe after we implement keytar but there are a lot of security considerations for that as well, so don't expect anything soon around passing clear text passwords.

[2020-09-01 10:18] plachta11b commented on #210
Ok, in that case I will look into noVNC or something similar too as connecting to X server can be non trivial. Thanks for info.

[2020-09-02 04:41] ShaleenAg commented on #215
I tried running on windows but it threw this error
[code]

[2020-09-02 04:41] ShaleenAg commented on #215
I tried running on windows but it threw this error
[code]

[2020-09-02 06:59] snobu commented on #215
ENOENT means No such file or directory. Try running npm install again and move destreamer-master to root of C drive so the overall path becomes shorter. It's a Windows thing.

[2020-09-02 15:36] ShaleenAg commented on #215
Thank You, running npm install after removing node_modules worked

[2020-09-02 15:36] #215 closed

[2020-09-05 10:52] lukaarma commented on #216
any updates?

[2020-09-05 10:56] lukaarma commented on #214
@snobu per axios documentation you were right about `err.response.data` ([see here](https://github.com/axios/axios#handling-errors))

[2020-09-05 16:03] #213 closed

[2020-09-05 16:03] #214 closed

[2020-09-05 20:48] KhalidQasim commented on #216
Hello,
I was able to successfully rebuild and run destreamer on Ubuntu 20.

After installing npm, node, ffmpeg, and git I also installed the following (based on the missing library error messages):
sudo apt install libcups2 libnss3-dev librust-atk-sys-dev libatk-bridge2.0-dev librust-gtk-sys-dev

Thank you for your help

[2020-09-05 20:49] #216 closed

[2020-09-06 13:10] kartikeybharadwaj opened #218 "FFMPEG error"
Hi Guys,

So thing is my university has uploaded a bunch of videos on MS Streams. When I am trying to download any video lecture using destreamer, I am getting below error.

[FATAL ERROR] FFmpeg is missing!
Destreamer requires a fairly recent release of FFmpeg to download videos

PFA screenshot for refrence.

Regards

![एनोटेशन 2020-09-06 183440](https://user-images.githubusercontent.com/14976571/

[2020-09-06 13:17] lukaarma commented on #218
You need to download ffmpeg and place it on your path or in the Destreamer folder
You can look at the README for more info

[2020-09-06 13:30] kartikeybharadwaj commented on #218
Took these steps :

1. download the static file on ffmped
2. upzip, rename the file name to ffmped, put it in the root file (destreamer/)
3. run export PATH=./ffmepg/bin/:$PATH in terminal

Still getting below error :

[FATAL ERROR] FFmpeg is missing!
Destreamer requires a fairly recent release of FFmpeg to download videos

PFA screenshot.

Regards

![एनोटेशन 2020-09-06 183440](https://user-images

[2020-09-08 16:32] frakman1 commented on #151
I was having a similar issue on my Mac (High Sierra with ffmpeg version `3.4.2`)
It worked with one video, but kept getting errors midway  with another video.
[code]
I upgraded it using brew. Several million files later, it upgraded to `4.3.1` and is working now

[code]

[2020-09-09 01:45] Jaime1317 opened #219 "Unhandled error, time out or fatal error"
Hello guys. I've been downloading Microsoft Teams videos from my university for the last 6 months and I hadn't had a problem until now. I'm getting this error:

This is what it shows at the beginning

![image](https://user-images.githubusercontent.com/70987644/92544116-78a3cf80-f223-11ea-897d-76adb35ca8b1.png)

Then it appears a bunch of red code and this is what it shows at the end

![image](http

[2020-09-09 01:49] lukaarma commented on #219
You should update Destreamer to the latest version and use the destreamer.ps1 script to launch the app, that should solve your problem!

PS: I think you have quite an old version of Destreamer, we have implemented some new cool stuff, like the -k option, check them out in the readme!

[2020-09-09 02:13] lukaarma commented on #218
try with `export PATH=$PATH:"./ffmepg/bin/"` please

[2020-09-09 05:23] Jaime1317 commented on #219
Thank you so much lukaarma, I've updated to the latest version and followed the instructions in the readme section.
Finally I can continue downloading videos!

[2020-09-09 09:29] lukaarma commented on #219
Have a nice day!

[2020-09-09 09:29] #219 closed

[2020-09-10 02:10] ASHREDpikachu opened #221 "It is downloading for a long time, but still 0% How can I fix it?"

[2020-09-10 02:14] ASHREDpikachu commented on #221
![image](https://user-images.githubusercontent.com/71052195/92673693-ae95a080-f356-11ea-9ab5-5287e42a175b.png)
I was using this so good for a long time. But today, this problem happened.
So how could I fix it?

[2020-09-10 11:00] snobu commented on #221
Hard to say, can you try with a different video URL? Same story? Try upgrading your ffmpeg version, can't promise that will change anything but is worth a shot.

[2020-09-11 17:24] Flwk opened #222 "Failed to launch the browser process! Unable to open X display."
Hello

I'm on Debian 64 bits

[code]
I don't know how to solve this error

Thanks in advance

[2020-09-11 18:02] snobu commented on #222
Are you running a graphical desktop? We spin up a browser window for login so XFCE/Gnome/KDE/whatever has an X Server is a must.

[2020-09-11 18:26] Flwk commented on #222
Yeah i'm not running a graphical desktop, only by command line.

Do i have to install a graphical desktop or is there a way to do it with command line like in this [project](https://github.com/sup3rgiu/MStreamDownloader) ?

[2020-09-11 19:02] snobu commented on #222
Sorry, no. You need X to run destreamer.

[2020-09-12 19:35] #222 closed

[2020-09-12 19:58] snobu opened #223 "Help us pick a codename for our new destreamer v3 release"
![codename](https://user-images.githubusercontent.com/6472374/93003896-20ced680-f54b-11ea-8be1-2c14e0bd3751.png)

It's gonna be fast. Really fast.

[2020-09-13 07:52] jasonsong93 commented on #223
Definitely military graade tractor beam

[2020-09-13 07:59] phormula commented on #223
stinger mantis

[2020-09-13 21:10] braiandeleon commented on #223
just torpedo will be o'right

[2020-09-14 11:07] lukaarma commented on #223
Why not a Photon torpedo to stay in theme? :D

[2020-09-14 15:45] joshuawolfsohn commented on #223
stage 3 torpedo!

[2020-09-16 19:41] teodigg opened #224 "Syntax error"
I get this error when trying to run destreamer on win 64

SyntaxError: missing ) after argument list
[90m    at wrapSafe (internal/modules/cjs/loader.js:1053:16)[39m
[90m    at Module._compile (internal/modules/cjs/loader.js:1101:27)[39m
[90m    at Object.Module._extensions..js (internal/modules/cjs/loader.js:1157:10)[39m
[90m    at Module.load (internal/modules/cjs/loader.js:985:32)[39m


[2020-09-17 14:33] junionestor commented on #223
Big Mamma Torpedo

[2020-09-18 18:41] funnisquares opened #225 "Black chrome client"
When I run:
![image](https://user-images.githubusercontent.com/43013384/93633339-30c03d80-f9c5-11ea-8d28-705b3e48d48d.png)
A chrome client opens, but it is black and not intractable
![image](https://user-images.githubusercontent.com/43013384/93633355-361d8800-f9c5-11ea-88c5-0d35dc57a5d3.png)
Eventually, after 150000ms I get a timeout error and the program exits
![image](https://user-images.githubu

[2020-09-18 18:46] funnisquares commented on #225
I've also tried different browsers, different versions of chromium and google chrome result in the error above, Firefox however gives a different error.

![image](https://user-images.githubusercontent.com/43013384/93633702-c22faf80-f9c5-11ea-862d-3885c21fa8f8.png)

[2020-09-18 18:47] snobu commented on #225
Well, never seen this one before. I suggest pluggin in your own browser, check Readme.

[2020-09-18 18:52] funnisquares commented on #225
I did plug in several other browsers, following the Readme instructions. As stated on my second comment.

[2020-09-18 18:53] snobu commented on #223
I have another idea:
**Speedy Streamzales**

[2020-09-18 18:56] snobu commented on #225
Oh right, i didn't know those were your own installed browsers.

What OS is this?

[2020-09-18 18:58] funnisquares commented on #225
Manjaro latest

[2020-09-18 19:03] snobu commented on #225
If you're willing to try a different X environment like XFCE that might solve this bizarre rendering bug. You may also try booting X in a fail safe graphic mode see if that makes any difference.

Just speculation but looks like a render problem to me since the process does get launched.

[2020-09-18 19:09] funnisquares commented on #225
Running on openbox fixed it.

[2020-09-18 19:36] snobu commented on #225
You may want to file a bug in puppeteer, however not sure it's puppeteer at fault here, could be so many things in between. Happy you fixed it.

[2020-09-18 19:36] #225 closed

[2020-09-18 20:13] tzairos opened #226 "Downloaded video consist of first frame and audio"
I tried to download some videos by using a list file but encountered a problem.

- Windows Media Player plays it like an audio file.
- VLC player just shows one frame from the beginning of the video and the frame stays until the end of the video without to be changed.

I used the command to download the videos
[code]
Output of the ffprobe of the video file is like that:

[code]

Installed Node ver

[2020-09-18 20:15] lukaarma commented on #226
It's encoded with h265, are you able to play that with your device?

[2020-09-18 20:26] snobu commented on #226
Latest VLC Player and MPC-HC can both play H. 265 content. ffplay.exe that ships with ffmpeg may also be able to play that if ffmpeg was built with H.265 support.

[2020-09-18 22:40] tzairos commented on #226
thanks for the information @lukaarma  & @snobu .
Installing the latest VLC Player solved the problem.

[2020-09-18 22:40] #226 closed

[2020-09-19 09:39] francescofact commented on #223
Speedy Streamzales is superb

[2020-09-19 11:43] snobu commented on #223
This is open source, we can't commit to ETAs because we have day jobs, university studies and so on.
If you want to try out a VERY preview release of v3, clone [this branch](https://github.com/snobu/destreamer/tree/aria2c_forRealNow), compile and run.

[2020-09-21 11:20] safsoun opened #227 "Error: getaddrinfo ENOTFOUND euwe-1.api.microsoftstream.com at GetAddrInfoReqWrap.onlookup [as oncomplete] (dns.js:66:26)"
Hello,

When I tried to download a stream from Microsoft stream as following:
C:\destreamer-master> destreamer.cmd -i "https://web.microsoftstream.com/video/7db01d20-4012-489f-XXXX-YYYYYYYYYYYY"

I have a warning: [WARNING] Error: getaddrinfo ENOTFOUND euwe-1.api.microsoftstream.com. Retrying request...
which is displayed 7 times and it ends with the following error:
Error: getaddrinfo ENOTFOUND e

[2020-09-21 11:33] lukaarma commented on #227
You have to check you internet connection because that error means that Destreamer could not reach the address specified.

Did you have trouble logging in?

[2020-09-21 11:43] safsoun commented on #227
Thank you for your reply ..
No.. my connection is good and I can watch the video but I cannot download it!

[2020-09-21 11:46] safsoun commented on #227
I don't have any issue when I logged in..

[2020-09-21 22:46] lukaarma commented on #227
Could you please tell me the output of this command `git rev-parse --short HEAD` after running it in Destreamer folder?
Did you just download it or you were already using Destreamer and it stopped working?

[2020-09-21 22:47] lukaarma commented on #224
Did you edit Destreamer code in any way?

[2020-09-21 22:48] lukaarma commented on #221
Was this solved @ASHREDpikachu?

[2020-09-21 22:48] lukaarma commented on #218
Was this solved @kartikeybharadwaj ?

[2020-09-21 23:32] teodigg commented on #224
No

On Mon, Sep 21, 2020, 6:48 PM lukaarma <notifications@github.com> wrote:

[2020-09-22 13:46] safsoun commented on #227
I donwloaded it yesterday using zip. I cannot run git command in the downoladed repository.. Meanwhile I noticed that the last change was done 5 days ago. So I downloaded destreamer using git and found the rev is de6ab1d.
And it's my first time to use destreamer and I running it behind the company proxy. I don't know if this has a link with the issue!

[2020-09-22 18:17] rohit404404 commented on #218
i am facing same issue. even after copying ffmpeg to root folder and adding path variable , i still see ffmpeg is missing.

no idea whats wrong.

also, above export command fails with invalid semicolon error

[2020-09-23 06:57] kartikeybharadwaj commented on #218
Hey sorry for the late update. The issue is still not resolved.

Regards

[2020-09-23 09:05] lukaarma commented on #218
Are you running on windows using git bash right?
Could you try to follow [this guide](https://windowsloop.com/install-ffmpeg-windows-10/) or [this one](https://www.addictivetips.com/windows-tips/install-ffmpeg-on-windows-10/) to add ffmpeg to your path and then try using powershell?

[2020-09-23 09:09] lukaarma commented on #146
This bug it's replicable on windows using git-bash

[2020-09-23 11:50] rohit404404 commented on #218
I have finally for it working. I had taken BTBN copy of FFMpeg and seems that was issue. When I took it from GYAN. it worked.

However, PowerShell processed the 46 minutes file from stream and when it finally downloaded there was only 5MB file under videos and it did not play

![image](https://user-images.githubusercontent.com/3784144/94008727-19b48d80-fdc1-11ea-96ff-d2c0d7c90c7d.png)

[2020-09-24 01:06] lukaarma commented on #218
@rohit404404 could you please try again and let me know if the issue comes up again

[2020-09-24 01:07] lukaarma commented on #227
You are trying to use Destreamer behind a company proxy? That could definitely be the issue..could you try again in an unrestricted network?

[2020-09-24 01:08] lukaarma commented on #224
could you try to run `npm run build` and the launch it again?

[2020-09-24 03:49] rohit404404 commented on #218
@lukaarma  Ok, I was stupid. Documentation says video will be saved under /videos by default. Which i assumed will be system media Videos folder. I happen to check under root folder, just to be sure. and found another videos folder where file was successfully downloaded and i could play it as well.

Thank you very much!!

[2020-09-24 03:51] lukaarma commented on #218
I'll make the docs clearer!
Happy to help :D

[2020-09-24 10:57] safsoun commented on #227
Unfortunately I couldn't disable the proxy nor to open the stream from another location (outside the office network).
Does Destreamer provide a proxy configuration? and how to proceed?

[2020-09-24 11:49] lukaarma commented on #227
Destreamer does not provide a proxy setting at the moment but it's a work in progress but I don't have an ETA,.sorry I'll keep you updated

[2020-09-24 13:41] snobu commented on #227
Try a VM on a cloud provider if your office network is 'difficult' to get
by.

Azure for example gives you 200 USD of free credit, you should be good for
running a VM several months.

[2020-09-24 14:17] snobu commented on #224
Also check your Node version, should be 8.x or greater.

[2020-09-24 17:53] dogwolf opened #228 "Error: connect ECONNREFUSED 127.0.0.1:8000"
Dear sir,
I recently installed destreamer 3.0.0  I get the error below when trying to run it:
The same error appear on a Kubuntu and Ubuntu 20.04, behind a proxy and without restrictions.

Any help would be appreciate.
Thank you

[WARNING] .token_cache not found.

Launching headless Chrome to perform the OpenID Connect dance...
Navigating to login page...
We are logged in.
Wrote access token to to

[2020-09-24 17:57] lukaarma commented on #228
You have tu pull the latest changes because 502565d should fix all the problems related to webSocket connection.

But you still can't use that version on anything but windows because I'm a dumbass and hardcoded windows commands and forgot about *nix :P

[2020-09-24 20:10] dogwolf commented on #228
Thank you for the response
I'm going to install everything on Windows

[2020-09-25 05:25] CyberMew commented on #223
Tried the branch on macbook, `copy` command don't exist. Is it compatible with macOS?

[2020-09-25 05:27] lukaarma commented on #223
@CyberMew bot yet because I'm stupid :P
I've added a disclaimer to the branch and I'll let you now when it's ready for other OS other than windows

[2020-09-25 06:48] snobu commented on #223
You're not stupid, let me tell you how to sell this bug, it's a _specialization_ branch. Boom.

[2020-09-25 08:35] lukaarma commented on #228
Closing, see [comment](https://github.com/snobu/destreamer/pull/220#issuecomment-698800908)

[2020-09-25 08:35] #228 closed

[2020-09-25 08:37] lukaarma opened #229 "@CyberMew bot yet because I'm stupid :P"
@CyberMew bot yet because I'm stupid :P
I've added a disclaimer to the branch and I'll let you now when it's ready for other OS other than windows

Edit: it should now be fixed

_Originally posted by @lukaarma in https://github.com/snobu/destreamer/issues/223#issuecomment-698727729_

[2020-09-25 08:38] lukaarma commented on #229
I'm dumb

[2020-09-25 08:38] #229 closed

[2020-09-25 20:20] sudo-panda opened #230 "Can't run destreamer with brave using Default profile"
When using
The executable as `"/usr/bin/brave --profile-directory=Default"` I get `ENOENT` when I `npm run build` the app.

Has anyone been able to run destreamer with brave using the Default profile successfully? If yes then could you please help.

[2020-09-26 10:45] lukaarma commented on #230
With Brave you are intending the browser, right?

[2020-09-26 10:48] snobu commented on #230
If it's based on Chromium it should speak DevTools protocol, should work. No guarantees though.

[2020-09-26 10:50] sudo-panda commented on #230
@lukaarma yes the browser

[2020-09-26 10:52] sudo-panda commented on #230
@snobu it works with puppetteer but it runs in Guest profile instead of the default profile.

[2020-09-26 10:58] snobu commented on #230
Check its docs, there should be a parameter for specifying profile. Then use that in the command line as stated here in the Readme.

[2020-09-26 10:59] snobu commented on #230
There's a userDataDir in puppeteer as well, maybe that applies for you,
https://stackoverflow.com/questions/53236692/how-to-use-chrome-profile-in-puppeteer

[2020-09-26 14:34] Dunsteer opened #231 "Question about downloads"
Will the owner know I downloaded the video through destreamer or not?

Thanks.

[2020-09-26 19:59] lukaarma commented on #230
You have to add args to the puppeteer launcher

Add your launch options here
https://github.com/snobu/destreamer/blob/de6ab1d8afb7b54a29e00f75276d792a779f9d5c/src/destreamer.ts#L54-L58

[2020-09-26 20:00] lukaarma commented on #231
The owner (mostly) won't know that you downloaded the video :)

[2020-09-26 20:00] lukaarma commented on #224
Was this solved @teodigg ?

[2020-09-26 20:00] #231 closed

[2020-09-27 08:47] snobu commented on #231
To be clear, we're using the same protocol (HLS) as a browser would when 'interactively' playing a video. For all intents and purposes we're just another browser as far as MSStream is concerned.

However don't forget this is still operating in a grey area, the owners of the video may not want you to be able to download it, however since you are able to play it in a browser this now opens the door

[2020-09-27 08:53] Dunsteer commented on #231
I went trough the same thought process when I was asking the question.

[2020-09-27 11:06] Dunsteer opened #232 "Error on the prerelease branch"
I was testing the speed of the prerelease when I got the error
[code]
This happened after I downloaded about 3 files that I supplied the links via the file.txt input.

EDIT

Always crashes with the error above after downloading 2 whole videos and finishes the video segment of the third, about when starting to download the audio segments.

[2020-09-27 11:16] lukaarma commented on #232
Could you please tell me the platform/os you are running and how long were the videos?

Are you comfortable with editing the code a little bit yourself to test a possible solution?

[2020-09-27 11:18] Dunsteer commented on #232
I'm running windows 10. Can give you all the specs if it is necessary.
Sure, I can take a crack at it and do the necessary changes.

[2020-09-27 11:21] fadyayad7 opened #233 "FFmpeg returned an error: Invalid data found when processing input"
Hi, I am getting this error when I try to download a video, I have tried also to execute (after getting cookies) separately the ffmpeg command and it turns out that the problem is in the ffmpeg command, it seems like the ffmpeg can't read an input file

[2020-09-27 12:05] lukaarma commented on #232
Please add a space and `-q` after `{port}` on this line, compile and try again

https://github.com/snobu/destreamer/blob/331efd9773dcc45c470d5ed474d9e7e3fff3dd3e/src/destreamer.ts#L167

[2020-09-27 12:07] lukaarma commented on #233
If you are getting the error I suspect it's not Destreamer fault and you should try again later. Oh and make sure you have the latest release possible of FFmpeg

[2020-09-27 12:43] fadyayad7 commented on #233
The problem is in the ffmpeg input passed by desreamer, I have tried to use FFmpeg(latest version) and the problem is in the input parameter which is -i I think, so if the problem is in the ffmpeg command, is there another way to download the video using youtube-dl ?

[2020-09-27 12:44] lukaarma commented on #233
Could you please paste here the error you are getting?

Youtube-dl uses ffmpeg under the hood so I don't think it would solve your problems

[2020-09-27 13:20] fadyayad7 commented on #233
Ok, when I execute destreamer -i "video link",
after login I get this output
Launching headless Chrome to perform the OpenID Connect dance...
Navigating to login page...
We are logged in.
Wrote access token to token cache.
At this point Chromium's job is done, shutting it down...

Parsing video/group urls
Fetching videos info...

Fresh access token dropped into .token_cachen

Downloading Video: Le

[2020-09-27 14:31] Dunsteer commented on #232
I got this error
[code]
In the middle of downloading the 5th video.

The old problem with **maxBuffer** was fixed with `-q`.

[2020-09-27 18:04] fadyayad7 commented on #233
Fixed when I changed my network,
Thanks anyway 🧡

[2020-09-27 18:04] #233 closed

[2020-09-27 18:49] lukaarma commented on #232
Middle of 5th download, do you remember when? Before the video download, before the audio download or somewhere else?

[2020-09-27 18:51] Dunsteer commented on #232
![image](https://user-images.githubusercontent.com/12565043/94373079-345d6e00-0103-11eb-94c9-c269c6ee94a7.png)
Maybe this can help.

[2020-09-27 18:53] lukaarma commented on #232
It does! Thank you very much for your patience and help beta testing this branch!

[2020-09-27 18:54] lukaarma commented on #232
I'll let you know when I have a solution but I have a suspect on what's wrong here so I hope it won't take much

[2020-09-27 18:55] Dunsteer commented on #232
No problem mate, let me know if there is anything I can help with.

[2020-09-27 19:59] Dunsteer commented on #232
Oh and btw my PC just crashed because chromium was using to much RAM memory. Idk what happened but my RAM was at 99.8%. No logs sorry.

[2020-09-27 20:50] lukaarma commented on #232
pull the newest release, I couldn't fix it in the little time I had but there's a workaround in place, so you can use it

I really have no idea, Destreamer should always clean up after itself :/ if it happens again let me know

[2020-09-27 21:02] Dunsteer commented on #232
I downloaded 20-30 videos in batches of 10 while testing and everything was normal until that moment, it was a couple hours later. Maybe there is a process stuck.

[2020-09-28 10:16] Gianvix11 opened #234 "Freezing Downloads"
Video download starts correctly but randomly freezes and does not restart anymore. it is not only a visual bug but an actual one, in fact it does not appear complete in the video folder

[2020-09-28 10:17] lukaarma commented on #234
What version of Destreamer are you using and on what platform?

[2020-09-28 10:19] Gianvix11 commented on #234
Destreamer-master, downloaded 5 days ago, running on Win 10

[2020-09-28 11:34] lukaarma commented on #234
If it freezes when the progress bar is making progress there's nothing that Destreamer can do since it's FFmpeg fault, you could try again a few times or switch to our new branch that uses aria2c, more info in the README

[2020-09-28 11:38] Gianvix11 commented on #234
Where can i find It?

[2020-09-28 11:42] lukaarma commented on #234
https://github.com/snobu/destreamer/tree/aria2c_forRealNow

[2020-09-29 10:57] sblaker opened #235 "The chromium script crashes before i finish to insert my credentials!"
As title i start destreamer with ./destreamer.sh -u "credenzialiunipa" -i "videolink" . Appears in the shell stdout is not tty .Then the script launches crhomium with streams form and redirect to my University website. When I am typing my credentials, after 2-3 seconds the Chromium table closed.

I usually avoid this problem typing my credentials fast as i can and sometimes works.But now I am very

[2020-09-30 12:33] tranvanbo2000 opened #236 "Feature request: Save login in chronium for headless server."
First, I just wanna say thank you snobu and other contributive devs for this amazing project. I can't live a day without this because Microsoft Stream doesn't allow faster playback while my lectures are at an unbearable speed.
Secondly, I am currently running this on my Mac right now, I have a server but its only output is CLI. Is there any way I can save my login like modern browsers and transfer

[2020-09-30 13:16] lukaarma commented on #230
any update @sudo-panda ?

[2020-09-30 13:17] lukaarma commented on #232
Did it crash again because of Chromium @Dunsteer ?

[2020-09-30 13:17] lukaarma commented on #234
any update @Gianvix11 ?

[2020-09-30 13:18] lukaarma commented on #235
Do you know what version you are using? Have you tried updating to the latest release or the new [beta branch](https://github.com/snobu/destreamer/tree/aria2c_forRealNow)?

[2020-09-30 13:23] lukaarma commented on #236
Unfortunately puppeteer can't read desktop mode cookies when running in headless mode for some reason, so you can't just transfer you desktop cookies to a CLI server...
I mean you could try to tranfer everythin as is on the server and launch it if you saved your cookies since it doesn't really need a desktop chromium so if it doesn't crash because there is no X-server it could run *in theory*

Let

[2020-09-30 13:23] sudo-panda commented on #230
I added this to args:
[code]

Also I changed chromeCacheFolder:
[code]

But it still launches as guest.

[2020-09-30 13:28] tranvanbo2000 commented on #236
I feel embarrassing for having to ask for more clearance...I am an IT student too but you seem to be doing so well lol :)
What you are trying to say is that I need a way to save the cookies and transfer the build to my server so I don't have to login again? I would apreciate any help or any source to start
Thank you <3

[2020-09-30 13:33] sblaker commented on #235
I did a git pull Yesterday so i guess i own the latest version.

[2020-09-30 14:29] Dunsteer commented on #232
Was talking about the bug earlier, didn't test it after that. Maybe next weekend.

[2020-09-30 23:16] lukaarma commented on #236
You don't have to be embarrassed when asking for help/clearance! It shows that you want to know mode :)

Anyway I'll make a complete response tomorrow as I'm logging off, the bed awaits me :D

[2020-09-30 23:21] lukaarma commented on #235
Could you please paste here the error you are getting when chromium closes, if any?
How much time it takes to load the first page and your university page? Have you considered saving the login in the browser using the '-k' option? Read more [here](https://github.com/snobu/destreamer#usage)

[2020-09-30 23:22] lukaarma commented on #232
Ok, open a new issue if needed. Closing

[2020-09-30 23:22] #232 closed

[2020-09-30 23:25] lukaarma commented on #146
On *nix we could try to search the local folder for the exe and set a flag if so
Or do the same both time we need to execute ffmpeg/aria2c

[2020-09-30 23:26] lukaarma commented on #195
Closing as inactive

[2020-09-30 23:26] #195 closed

[2020-09-30 23:27] lukaarma commented on #189
Closing as inactive

[2020-09-30 23:27] #189 closed

[2020-09-30 23:27] lukaarma commented on #210
Closing as inactive

[2020-09-30 23:27] #210 closed

[2020-09-30 23:28] lukaarma opened #237 "Make docs clearer"
@lukaarma Ok, I was stupid. Documentation says video will be saved under /videos by default. Which i assumed will be system media Videos folder. I happen to check under root folder, just to be sure. and found another videos folder where file was successfully downloaded and i could play it as well.

Thank you very much!!

Originally posted by @rohit404404 in snobu/destreamer#218 (comment)

Solved b

[2020-09-30 23:47] lukaarma commented on #218
Did this help @kartikeybharadwaj?

[2020-09-30 23:49] #218 closed

[2020-09-30 23:55] BlasterV2 opened #238 "[ERROR] FFmpeg returned an error: Did you mean file:https://..."
Hello beautiful people,

I'm getting this error about FFmpeg, I'm not sure which version of FFmpeg I'm using so I attach "ffmpeg -version" too.

![ISSUE](https://user-images.githubusercontent.com/17282819/94751489-99040d00-033d-11eb-83bd-a23753f37376.png)

ffmpeg is in /usr/local/bin/ added to PATH.

[2020-10-01 11:47] tranvanbo2000 commented on #236
I look forward to your response and thank you for your dedication.

[2020-10-01 15:38] lukaarma commented on #236
You are using the '-k' option when launching, right?

[2020-10-01 15:40] lukaarma commented on #238
It happens every time you run it?
Have you tried a different link?

[2020-10-01 15:41] tranvanbo2000 commented on #236
I have to say very dumbly that I have just now seen that option (FORGIVE MY BLINDED DUMB EYES)...then it solves the situation of saving logins on my Mac but is there something I should do or just copy the build to my server for only CLI operations?

[2020-10-02 06:57] Gianvix11 commented on #234
with aria2c I haven't tried yet, but with destreamer master and ffmpeg there is no way to finish the download, it stops at different percentages, I also tried with other PCs but nothing to do.

[2020-10-02 07:50] sblaker commented on #235
I think there is an error code but the shell closes so much fast that i can't read-
The loading time is ok,it's in the media,like just surfing in the internet.
I tried with K options..but it closes anyway

[2020-10-02 13:52] vleveris opened #239 "Expiration of access token"
Hello.
I have an issue with access token expiration.
It seems that access token does not get refreshed. If I run destreamer with an argument of video URLs file, it crashes in 1 hour with the following error message:
[WARNING] Got HTTP code 401. Retrying request...

[VERBOSE] Here is the error message:
 '

[ERROR] Error: Request failed with status code 401
    at createError (c:\Users\vytau\Downloa

[2020-10-02 14:01] lukaarma commented on #236
The problem with a cli only runtime is that chromium normally launch in desktop mode so I don't know if it will outright crash or what.

What you can try is run Destreamer on your Mac with the -k option and tell yes when asked to remember login, then copy the whole destreamer folder over to the server and try to run it.
Probably this won't work since it may crash for the missing X-server or puppet

[2020-10-02 14:03] lukaarma commented on #235
How do you launch destreamer? Because if you open up a terminal and then launch `./destreamer.sh -u "credenzialiunipa" -i "videolink"` I don't see how the shell could close on its own...
What OS/distro are you running?

[2020-10-02 14:04] lukaarma commented on #239
Are you using the -k option when running Destreamer? If so did you click yes when asked to 'remember the credential'?

[2020-10-02 14:22] vleveris commented on #239
Yes I'm using -k option and "remember me" is checked.

2020-10-02 17:05 GMT+03:00, lukaarma <notifications@github.com>:

[2020-10-02 14:23] sblaker commented on #235
Windows 10 :/ If you have telegram I can explain more like filming a video.

[2020-10-02 14:29] lukaarma commented on #239
After each download did a chromium window pop up for a couple of seconds or after the first login no windows were spawned?

[2020-10-02 14:30] lukaarma commented on #235
Write me an email (check my profile) and I'll leave you my telegram handle

[2020-10-02 14:49] vleveris commented on #239
No, Chromium pops up only once at the beginning.

2020-10-02 17:30 GMT+03:00, lukaarma <notifications@github.com>:

[2020-10-02 15:28] lukaarma commented on #239
Mhhh ok I'll take a look and I'll let you know, but since I have little free time it will take time

[2020-10-02 15:30] lukaarma commented on #239
Oh and just to make sure, you are running the latest commits on master branch?

[2020-10-02 16:56] vleveris commented on #239
Yeah, latest. :)

2020-10-02 18:30 GMT+03:00, lukaarma <notifications@github.com>:

[2020-10-02 21:04] tranvanbo2000 commented on #236
[WARNING] Access token has expired!

Launching headless Chrome to perform the OpenID Connect dance...

[ERROR] Error: Failed to launch the browser process! spawn /destreamer/node_modules/puppeteer/.local-chromium/linux-722234/chrome-linux/chrome ENOENT

TROUBLESHOOTING: https://github.com/puppeteer/puppeteer/blob/master/docs/troubleshooting.md

    at onClose (/destreamer/node_modules/puppeteer/li

[2020-10-03 17:55] FraH90 opened #241 "Request feature for the upcoming version of destreamer: downloading all videos from a group"
Hi guys, like I've written on the title I'm thinking from a lot of time of a feature that could be very, very helpful to me (and other too I think) for the upcoming version of destreamer (whatever we'll choose to name it)

Specifically, I'd like to download all the videos listed from a group, without manually entering every single URL of every single video in a text file (that's what I do now to d

[2020-10-03 18:09] lukaarma commented on #241
We already do that :P

I forgot to add it to the docs but I already implemented that like 2 months ago

Just run it against the same folder (leaving there the videos) and use the --skip option to skip downloading existing files and you are all done

[2020-10-03 18:09] lukaarma commented on #237
https://github.com/snobu/destreamer/issues/241#issue-714141746

[2020-10-03 18:48] FraH90 commented on #241
Thats really awesome :D
So I just need to put the url of the group as a parameter (like if I'm putting the url of a single video), and it will download all the videos uploaded on the group? *_*

[2020-10-03 18:59] lukaarma commented on #241
Yes it should

[2020-10-03 19:24] lukaarma commented on #239
Could you please run it adding the --verbose flag and then copy here the output?

[2020-10-03 19:27] lukaarma commented on #236
you should delete the destreamer/node_module directory and run `npm i` then build and run again destreamer.
The rasp is an arm64 architecture, your mac I'm not sure so with this procedure you will make sure that all the binaries are for the correct platform

[2020-10-03 19:45] phormula opened #243 "Request feature for v3: download live meetings"
Can we have destreamer download live MS team meetings?

[2020-10-03 20:13] tranvanbo2000 commented on #236
![image](https://user-images.githubusercontent.com/48253680/95000734-f8774c80-05cb-11eb-87ce-a49610f8a97c.png)
This is when i grab the files with npm i
![image](https://user-images.githubusercontent.com/48253680/95000740-075dff00-05cc-11eb-9da3-0c708b579963.png)
This is when i tries to run the build.
Feel free to give me some suggestions.
Note: When i try to run the build with root user, it wont a

[2020-10-03 20:59] vleveris commented on #239
[destreamer_output.txt](https://github.com/snobu/destreamer/files/5322302/destreamer_output.txt)

[2020-10-04 00:22] lukaarma commented on #239
Thanks, found the bug

We have to pass the new session to the API class, fixing it tomorrow

[2020-10-04 08:59] lukaarma commented on #235
Closing for now, if needed open a new one or write me on telegram

[2020-10-04 08:59] #235 closed

[2020-10-04 09:09] lukaarma commented on #236
mhhhh...there's one more thing that we could try:
- make sure that, using the '-k', destreamer is able to login on it's own on the mac (the '-k' option must be used all the times after the first time you saved you cookies)
- copy over to the rasp the whole folder, deleting the one you copied before
- <h4>only on the rasp</h4> edit this line of code https://github.com/snobu/destreamer/blob/ec24ff9e

[2020-10-04 09:11] lukaarma commented on #241
Did it work @FraH90?

[2020-10-04 09:18] lukaarma commented on #237
TODO: https://github.com/snobu/destreamer/issues/239#issuecomment-703180828

[2020-10-04 15:32] FraH90 commented on #241
YES! It seems to perfectly work, that's great!

Just a thing unrelated with this stuff.. after a while (I guess like after it does expire an hour from when you've started the download of the group) it returns an HTTP 401 error or something like that.

That is related to the token-cache thing that needs to be updated after an hour?
Because however if I launch again the same command (with --skip par

[2020-10-04 15:56] tranvanbo2000 commented on #236
Thank you for your suggestions, yes the option -k has always been used since you told me, I was just testing to see if I can't launch it was it because of the token
And the changes to the .ts file did not resolve it. It was built successfully but it still did not work. None the less, it is still my fault for trying to deploy it on a headless server.
Thank you for making the program, to begin with,

[2020-10-04 16:07] lukaarma commented on #241
A quick and dirty fix for the 401 is to use the -x option that disable the tumbnail because it's that that's causing the error

There is a pull request (#244) that will fix that but I'm waiting on @snobu for that

[2020-10-04 16:09] FraH90 commented on #241
Ok got it, thank you :)
Guess we can close this "issue" then!

[2020-10-04 16:18] lukaarma commented on #241
We sure can

[2020-10-04 16:18] #241 closed

[2020-10-05 00:32] lukaarma commented on #239
You can work around this bug for now by adding the '-x' option at launch

[2020-10-05 00:34] lukaarma commented on #236
I'm sorry that we could not solve this issue. Maybe in a galaxy far far away we will be also CLI only but I sincerely doubt it :/

[2020-10-05 00:34] #236 closed

[2020-10-05 00:36] lukaarma commented on #234
If it stops mid-download there nothing we can do, I'm sorry.
You can try the new branch mentioned above as an alternative.

[2020-10-05 00:36] #234 closed

[2020-10-05 00:37] lukaarma commented on #221
Closing as inactive

[2020-10-05 00:37] #221 closed

[2020-10-05 07:49] vleveris commented on #239
OK, thanks.

2020-10-05 3:32 GMT+03:00, lukaarma <notifications@github.com>:

[2020-10-05 14:12] Mirkesx commented on #238
I don't know if it can help you, but i had this same problem. I first installed ffmpeg manually and whichever video i tried to download it would fail telling me the same error. Then i deleted all the files and i installed with apt install (i have Ubuntu 20.04) and then it worked at fist try.

[2020-10-06 14:15] FraH90 opened #245 "Using a title template for destreamer, calling it from python (in windows)"
Hi guys, I'm trying to automate things a little bit, so I can download more subject just clicking on a python script.

This is some piece of the code I've written:

[code]

obviously I call destream with the proper parameters.
It all works, I'm able to download programmatically a lot of subjects, however the problem is that the title template doesn't work:  the file name has only the publishDate,

[2020-10-06 14:24] FraH90 commented on #245
Update:

If I use this syntax for the outputFormat variable, using escape chars

outputFormat = ' -t \'\{publishDate} - \{publishTime} - \{title} - \{author} - \{duration} - \{uniqueId}\' '

to make it look the parameters like you've written in the readme, I get this as output name:

'2020-10-05

Practically it ignores the ' characters as part of the command, and it puts it in the file-title.
What

[2020-10-06 14:28] lukaarma commented on #245
try with `outputFormat = ' -t "{publishDate} - {publishTime} - {title} - {author} - {duration} - {uniqueId}'"'

[2020-10-06 14:28] lukaarma commented on #243
You are asking for a download while the meeting is ongoing?

[2020-10-06 14:29] lukaarma commented on #239
closing keep track of the bug in #244

[2020-10-06 14:29] #239 closed

[2020-10-06 14:31] lukaarma commented on #230
Sorry for the delayed response, I'm not sure how you could solve this :/
I'm sorry but I don't have the time to download brave and do all the testing required to help here.

[2020-10-06 14:31] #230 closed

[2020-10-06 14:32] lukaarma commented on #227
Closing as not Destreamer fault

[2020-10-06 14:32] #227 closed

[2020-10-06 14:32] lukaarma commented on #224
Closing as inactive

[2020-10-06 14:35] sudo-panda commented on #230
Hey @lukaarma it's alright I wasn't hoping you were going to either. I hoped if someone who has used brave with puppeteer might respond to me that would have been swell. Anyways thanks for the directions. :)

[2020-10-06 14:36] FraH90 commented on #245
YES! Thats exactly what I just did, before reading your comment!

Practically in windows the parameters in brackets must be encolsed between "" otherwise it doesn't take them right!!!
Thank you man

[2020-10-06 17:48] SpaceGauchoDev commented on #223
Remember to install Aria2 and add it to Path to be able to use this branch.
https://www.youtube.com/watch?v=LS-VmSmtaWg

I just did and it was wicked fast! from 40 min to 2 min.

[2020-10-07 07:18] phormula commented on #243
No, there is a live broadcast in MS Teams just like Youtube live and I'm asking if destreamer can download that after the live broadcast is done.

[2020-10-07 08:11] dinfid opened #246 "record a meeting live"
make sure to record a meeting while it is taking place especially for those meetings where you cannot start recording so that you can later watch it offline

[2020-10-07 18:24] Everton-Colombo opened #247 "Logo Proposal"
![destreamer_logo](https://user-images.githubusercontent.com/45215926/95371831-1cc77780-08b1-11eb-884e-5eaae48c7821.png)

[2020-10-07 21:20] snobu commented on #247
Damn this is so simple and beautiful, love it.
Not totally sure about the upper part though - the rectangle - maybe we can have a stack instead of a solid there to incorporate the download mechanics (since we are downloading videos chunk by chunk)?
Something like ![image](https://user-images.githubusercontent.com/6472374/95389040-e95e0a80-08fb-11eb-9aac-587a56f48b04.png), what do you think?

[2020-10-08 03:48] mateobassani commented on #223
stinger mantis

[2020-10-08 13:00] #237 closed

[2020-10-08 14:55] edoardobus commented on #223
Velocity Raptor

[2020-10-08 18:02] CrupanshuUdani opened #248 "Download of audio failing for many long/big videos in arai2c."
Download of audio failing for many long/big videos in arai2c.
I'm aware the v3 with aria2c is still in progress but if you could help with this i'd appreciate

OS: Linux x64 (Arch)
Branch: aria2c_forRealNow
Launch command used: ./destreamer.sh -xtv '{title}-{publishDate}' -i https://web.microsoftstream.com/video/xxxx --skip

<details>
<summary>Verbose  log</summary>
[VERBOSE] Using ffmpeg version

[2020-10-08 18:44] lukaarma commented on #248
I already know this bug and I thought I fixed it... I'll take a look

[2020-10-08 21:56] Kratacoa commented on #223
Military Grade Tractor Beam.

[2020-10-09 01:15] yarnrav commented on #223
Woah, this branch decreased the waiting time from 1 hour to like a few minutes, definitely stage 3 torpedo. Btw I was wondering maybe if you could make destreamer print out the video and audio url before making aria2c download them.

[2020-10-09 02:51] mehdi-etr opened #249 "Download retry not working on aria2c"
OS: Win 10

Launch command used:  .\destreamer.cmd -f .\links.txt

<details>
<summary>Verbose  log</summary>

[code]
</details>

[2020-10-09 08:46] Samuell08 commented on #223
I like Imperial Infiltrator... because it basically infiltrates Imperial servers and extracts protected intel. Looking forward to newer model droid with higher transfer speeds (R2-D3)

[2020-10-09 09:02] Samuell08 commented on #223
Great job! Download went from couple hundred kB/s to full speed that my IPS provides (6MB/s).

[2020-10-09 10:12] Alex87a commented on #223
I am a new novice user. Could you please help me download this new version?

[2020-10-09 10:23] Alex87a commented on #223
Please @Samuell08 could you help me and tell me the steps to take to get this result?

[2020-10-09 10:54] loremed commented on #248
I'm having this issue too

OS: Linux x64 (Kubuntu 20.04)
Branch: aria2c_forRealNow
Launch command used: ./destreamer.sh -k -x -f videos.txt -t '{publishDate}-{publishTime}' -o <destination directory>  --verbose

The file only specified the links, not the destination directories

<details>
<summary>
<i>Verbose log </i>
</summary>
<p>[VERBOSE] Using ffmpeg version 4.2.4-1ubuntu0.1 Copyright (c) 2000

[2020-10-09 11:14] lukaarma commented on #249
It's far from done that branch, the error handling during download is one of the missing things..shut it down and try again if it happens and when I can I'll work on this

[2020-10-09 11:15] #245 closed

[2020-10-09 11:17] lukaarma commented on #243
Right now no, there was a little progress on #132 but that's it and I don't see this feature coming in the near future, I'm sorry

[2020-10-09 11:17] #243 closed

[2020-10-09 11:18] lukaarma commented on #132
Keeping this open so that maybe we don't get duplicates

[2020-10-09 11:19] lukaarma commented on #246
That's out of Destreamer's scope, I'm sorry

And you could just use OBS

[2020-10-09 11:19] #246 closed

[2020-10-09 11:24] lukaarma opened #250 "fix 'stdout maxBuffer length exceeded' on aria2c"
Please add a space and `-q` after `{port}` on this line, compile and try again

https://github.com/snobu/destreamer/blob/331efd9773dcc45c470d5ed474d9e7e3fff3dd3e/src/destreamer.ts#L167

_Originally posted by @lukaarma in https://github.com/snobu/destreamer/issue_comments/699626769_

[2020-10-09 11:27] lukaarma commented on #248
Closing this, track updates on #250

[2020-10-09 11:27] #248 closed

[2020-10-09 11:34] lukaarma commented on #250
fixed by 2a3c3eb

[2020-10-09 11:34] #250 closed

[2020-10-09 11:35] lukaarma commented on #248
It's now fixed, pull the new changes and you'll be ok

[2020-10-09 12:31] FraH90 opened #251 "Problem with "publishTime" attribute"
Like I've said in a previous issue, I'm downloading videos with the following title format:

"{publishDate} - {publishTime} - {title} - {author} - {duration} - {uniqueId}\"

All is going well, the videos are downloaded accordingly to the script I've written in python and with the correct syntax for the title template.

However, I've noticed that the publishTime attribute doesn't seems to have any

[2020-10-09 12:34] FraH90 commented on #251
PS: Okay, think I'm answering this myself, it seems that "publishTime" is referred to GMT... my local time is GMT+2, so it does seems right

[2020-10-09 12:41] lukaarma commented on #251
Yeah all the timestamps are converted from a ISO 8601 GMT timestamps... @snobu I geuss we could implement the conversion to locale, should be easy enough?

[2020-10-09 13:03] SpaceGauchoDev commented on #223
- Create a new folder and clone the repo again into that folder using this command:
  git clone https://github.com/snobu/destreamer -b aria2c_forRealNow
- follow the normal destreamer installation guide
- install aria2 following this guide https://www.youtube.com/watch?v=LS-VmSmtaWg
- if you are on windows you can launch destreamer by creating a .bat file with the following command:
  cmd /k destr

[2020-10-09 17:33] yarnrav commented on #223
Which OS ?

[2020-10-09 17:43] Alex87a commented on #223
Thank you very much @SpaceGauchoDev , I am grateful to you.
However I had two problems:
1) First of all, every two lessons downloaded, an error concerning the aria2 server appeared on the screen;
2) Although my speedtest says that my download speed is about 13 Mb/s, why the script can't take all the bandwidth but only 3-4 Mb/s?

[2020-10-10 13:03] Alex2610 opened #252 "Download speed is capped @~400kb/s"
![Screen](https://user-images.githubusercontent.com/22039589/95655548-8d1c0600-0b08-11eb-8bdc-4dad1c9164f5.PNG)
as you can see the download speed seems to be capped at ~400kb/s.
Any suggestion ?

OS:Win 10 pro
Ram: 16GB
GPU: RX580 8gb
CPU: Ryzen 1600
Network speed available: ~1.5MB/s (~14Mbps)
Using ffmpeg version 2020-10-07-git-a086b73e1f-full_build-www.gyan.dev

[2020-10-10 13:22] Alex2610 commented on #252
EDIT:
i've just seen that there's an automatic login feature for polimi... where do i have to fill out the needed parameters ?

[2020-10-10 15:04] Alex2610 commented on #252
opened help in terminal and printed out how to login automatically....

[2020-10-10 15:21] Alex87a opened #253 "Various problems with v3"
Hi guys! First of all I thank you for this useful tool that you have created, it is a true salvation. Secondly, I would like to report some problems that have arisen by downloading version 3:
1) First of all, every two lessons downloaded, an error concerning the aria2 server appeared on the screen, "[ERROR] stdout maxBuffer length exceeded [FATAL ERROR] The aria2c rpc server crashed with the previ

[2020-10-10 15:26] Alex87a commented on #252
Which version of destreamer are you using?

[2020-10-10 15:47] Alex2610 commented on #252
I'm using the version 2.0.0 (output of --version)

[2020-10-10 16:39] SpaceGauchoDev commented on #223
1. Were the videos very long? I think there is a limit to file transfer with aria2, i found i could download several 50 min lectures but only a couple 3 hours lectures. Closing the window and starting it up again helped, you are gonna have to delete partial downloads from the videos folder.

2. Sorry, i have no idea how any of this works haha. Its way better than 500kbps though!

We should stop de

[2020-10-10 16:43] Alex87a commented on #252
If I does not mistake version 2 is limited under the point of view of speed, then the maximum you can reach is ~ 400/500 kbps.

[2020-10-10 16:45] Alex2610 commented on #252
Alright, but I've done
git clone https://github.com/SamanFekri/destreamer.git
And obtained the version 2.0.0

[2020-10-10 17:07] lukaarma commented on #253
For problem n1 just pull in the latest changes
For n2 we decided not to overload Microsoft's servers so it's much faster then V2 but it's still somewhat capped

[2020-10-10 17:12] lukaarma commented on #252
The v3 Is in a branch, can't link now since I'm on mobile

The automatic login from Polimi it's not in our version, it's in fork. You can find the link in our homepage
You can still save your login with us using the '-k' option and saying yes when asked if you want to remember the login

[2020-10-10 17:41] Alex87a commented on #252
Try with this:

- Create a new folder and clone the repo again into that folder using this command:
  git clone https://github.com/snobu/destreamer -b aria2c_forRealNow
- follow the normal destreamer installation guide
- install aria2 following this guide https://www.youtube.com/watch?v=LS-VmSmtaWg
- if you are on windows you can launch destreamer by creating a .bat file with the following command

[2020-10-10 18:07] Alex2610 commented on #252
Thanks it worked!!!

[2020-10-10 18:24] Alex87a commented on #252
What's your speed, out of curiosity?

[2020-10-10 18:27] Alex87a commented on #253
Thanks @lukaarma!
How could I solve for the point number 1?

[2020-10-10 18:38] Alex2610 commented on #252
~1.5MB/s my maximum downloading speed ahahah

[2020-10-10 20:01] Alex87a commented on #252
It is still a good improvement over before! 😂😂😂

[2020-10-10 20:54] lukaarma commented on #253
update the repo with `git pull` should solve it

[2020-10-10 20:55] lukaarma commented on #252
nice, closing as solved

[2020-10-10 20:55] #252 closed

[2020-10-10 21:31] Alex2610 opened #254 "aria2c exec buffer overflow on aria2c... again"
Sorry but verbose will probably come tomorrow...

os win 10 pro
ram 16 gb
gpu rx580 8 gb
cpu ryzen 1600

Launch command used: .\destreamer.cmd -f ***.txt -o D:\*\* -k -u ****@*****

<details>
<summary>Verbose  log</summary>

[code]
</details>

[2020-10-10 21:39] lukaarma commented on #254
Are you sure you are running the latest version of the new branch? Could you check doing a pull or the output of `git show --oneline -s` is 'fixed buffer maxLenght exceded on aria2c daemon'

Sorry if I'm asking but I have to make sure the bug is still there since I just updated and I don't have a lot of time to work on Destreamer

[2020-10-10 21:48] Alex2610 commented on #254
Don't worry, i am sure I've downloaded the last one because I've tried it today. However git show --oneline -s prints out "[...] fixed buffer maxLenght exceeded [...]"

[2020-10-10 21:58] lukaarma commented on #254
Fuck me... I don't know when a fix will come, I'm sorry

[2020-10-10 21:58] lukaarma commented on #254
Oh and for the token I know, haven't implemented the refresh again on the new branch

[2020-10-10 21:59] lukaarma opened #255 "Aria2c branch missing session token refresh"
Oh and for the token I know, haven't implemented the refresh again on the new branch

_Originally posted by @lukaarma in https://github.com/snobu/destreamer/issues/254#issuecomment-706616931_

[2020-10-10 22:00] Alex2610 commented on #254
No worries man, thanks for your work on this project.
I'm going to split my *.txt and add many "&" in a (.CMD) batch file 😂

[2020-10-10 22:02] lukaarma commented on #253
@Alex87a for the 1st point the bug i thought solved it's still lingering, don't have much time to fix it...will have to wait.

Track any updates on the related pinned issue, closing this

[2020-10-10 22:02] #253 closed

[2020-10-10 22:06] lukaarma commented on #247
I like both ideas, but for what @snobu proposed I was thinking more of a chequered tail stile like this

![](https://image.shutterstock.com/z/stock-vector-dissolved-right-arrow-dot-vector-icon-with-disintegration-effect-square-pixels-are-grouped-into-1104312023.jpg)

[2020-10-10 22:16] Alex2610 commented on #254
I can confirm that splitting the *.txt in multiple ones and creating a batch file (.CMD) with multiple "&" between commands solves both problems as a "temporary workaround".

[2020-10-11 17:49] Alex87a commented on #254
Hi @Alex2610, can you kindly tell me where you put the &?
My command looks like this:
cmd /k destreamer - -outputDirectory "C:/Users/Alex/Desktop" \ -f "C:/Users/Alex/Desktop/myFile.txt"

[2020-10-11 18:00] Alex2610 commented on #254
example of "autodownload.cmd" :
pause [pause so it does not start automatically if you doubleclick it wrongly] & del .\.token_cache [used to renew the token] & .\destreamer.cmd -f file1.txt -o C:/Users/Alex/Desktop -k -u user@mail [or configure it as you want]  & del .\.token_cache [as i mentioned above...] & .\destreamer.cmd -f file2.txt -o C:/Users/Alex/Desktop -k -u user@mail & del .\.token_cac

[2020-10-11 18:01] Alex2610 commented on #254
delete all the [] brackets

[2020-10-11 18:16] Alex87a commented on #254
Thanks a lot! But in this way I have to copy all the links one by one, usually I would create a .txt file and it would take them automatically. Patience, if it is the only method that does not give me the error, I will do it.

[2020-10-11 19:56] #255 closed

[2020-10-11 20:22] lukaarma commented on #254
@Alex2610 and @Alex87a
Alexes (:P) could you please try again with the entire list of urls? I want to see if I finally killed this annoying bug.

[2020-10-11 21:27] Alex87a commented on #254
Good evening @lukaarma! We have given you some work these days, thank you for fulfilling our requests. Could you please tell me how to update the line of code on my destreamer? I'm impractical...

[2020-10-11 21:31] lukaarma commented on #254
Just do a `git pull` in the Destreamer folder

[2020-10-11 22:02] Alex87a commented on #251
Sorry @lukaarma, can I change the format from AAAA-MM-GG to GG-MM-AAAA?

[2020-10-11 22:36] snobu commented on #238
Your ffmpeg binary is missing HLS support it seems. Remove it and add ffmpeg via `apt install` like @Mirkesx already suggested.

[2020-10-11 22:41] Alex87a commented on #254
Ok, the previous problem seems to have been solved, however after 4 lessons another problem related to the ffmpeg is encountered:

[ERROR] Error: Command failed: ffmpeg -i "C:\Users\Alex\Desktop\video-8560-wEAlOfIQFEl6\General - 2020-09-30.mp4.video" -i "C:\Users\Alex\Desktop\audio-8560-F2yDKP8kvu4d\General - 2020-09-30.mp4.audio" -c copy "C:\Users\Alex\Desktop\General - 2020-09-30.mp4"
    at che

[2020-10-11 23:40] lukaarma commented on #254
For some, to me unknown, reason the ffmpeg command failed..try again and hope for the best right now, best I can do sorry

[2020-10-12 08:16] FraH90 commented on #251
I beg you, don't do this!!!!
With the format AAAA-MM-GG the recordings are stored in a folder in the very same order they've been recorded!!!

If you change the format to GG-MM-AAAA this will not work anymore!

[2020-10-12 08:18] FraH90 commented on #251
Trust me, I'm from Italy and here we use GG-MM-AAAA too, I found it strange to use the other format at first, but AAAA-MM-GG makes a loooot more sense when dealing with files, folder etc for the reason I've cited of

[2020-10-12 08:54] Alex87a commented on #251
Ahahahaha @FraH90 also I come from Italy, so I found more sense in the other format, also because with the previous version the files were created with the format GG-MM-AAAA.

[2020-10-12 09:19] Alex87a commented on #254
Nothing @lukaarma, today after four downloaded videos the annoying error reappeared. I am sorry that your work has been rendered useless by this.

[2020-10-12 10:11] lukaarma commented on #254
Could you please paste here the error?

[2020-10-12 10:19] Alex87a commented on #254
Yes, the mistake is:
"[ERROR] stdout maxBuffer length exceeded

[FATAL ERROR] The aria2c rpc server crashed with the previous message".

[2020-10-12 10:50] lukaarma commented on #254
I'm 99% sure you don't have successfully updated the repo since i changed this error message, did you do a `git pull`?
Or you can download an updated .zip file [here](https://github.com/snobu/destreamer/archive/aria2c_forRealNow.zip)

[2020-10-12 11:01] Alex87a commented on #254
No absolutely not, I did exactly what you told me. I'll tell you more: he downloaded exactly 19 modifications (If I remember correctly).

[2020-10-12 11:08] lukaarma commented on #254
Could you please run `git show --oneline -s` and paste here the result @Alex87a ?

[2020-10-12 11:57] Alex87a commented on #254
Sure @lukaarma :
Alex@GATEWAY MINGW64 ~/Desktop/destreamer (aria2c_forRealNow)
$ git show --oneline -s
1763dc8 (HEAD -> aria2c_forRealNow, origin/aria2c_forRealNow) changed exec in favour of spawn for aria2c (should solve and close #254)

[2020-10-12 12:00] Alex87a commented on #254
This is the result with git pull instead:
"Alex@GATEWAY MINGW64 ~/Desktop/destreamer (aria2c_forRealNow)
$ git pull
Already up to date."

[2020-10-12 12:04] lukaarma commented on #254
Did you rebuild after the pull? I just realized that probably that I never asked you if you did

[2020-10-12 12:17] FraH90 commented on #251
That's why I've said I understand you, but trust me is just a matter of habits, AAAA-MM-GG makes much more sense when dealing with PC.
If you think about it, the files will be stored in the very same order they've been recorded in this way.
If they wanna give you the option to decide which format to use for date-time it's ok, but personally I'll leave it the way it is now, it makes much more sense

[2020-10-12 13:00] Alex87a commented on #254
Sorry but I don't really know what you mean. I'm not very practical, I'm a neophyte. If you tell me what to do I do it. I just did git pull, avoiding doing anything else, because I didn't know whether to do anything else.

[2020-10-12 13:02] lukaarma commented on #254
run `npm run -s build` so that the code you downloaded is translated in what you actually run.
You should always run that command after an update :D
That should solve it

[2020-10-12 18:24] Alex87a opened #256 "aria2.onDownloadError"
[ERROR] {"jsonrpc":"2.0","method":"aria2.onDownloadError","params":[{"gid":"8cebe1d32bd00ded"}]}

[ERROR] RECIVED URL TO RETRY, NOT IMPLEMENTED YET

[ERROR] {
    "id": "getUrlForRetry",
    "jsonrpc": "2.0",
    "error": {
        "code": 1,
        "message": "The parameter at 0 has wrong type."
    }
}

[2020-10-12 18:43] lukaarma commented on #256
Duplicate of #249

[2020-10-12 18:43] #256 closed

[2020-10-12 18:44] lukaarma commented on #251
@Alex87a I won't change it but I can show how you can do it yourself on your local copy of Destreamer

[2020-10-12 19:02] FraH90 opened #257 "Proposal: log video files downloaded by destreamer"
So, as I've written in a previous post I'm creating a python script to automate download with destreamer.
In practice I've collected all the group URLs of the class I'm interested in, and I'm just passing commands to destreamer from python.

The sense is that I'm automatically downlading every day every new video recorded, skipping the videos that are already in the folder (the one downloaded prev

[2020-10-12 19:17] FraH90 commented on #257
Ok, as with previous post I'm answering this myself:
I've used for the moment output redirection from the shell (cmd, windows), like this:

[code]

Where python-destreamer.py is the name of my python script.
I wouldn't want to do this because I was thinking (correctly) that with this I wouldn't have the output to the consolle (I want it bot to txt file and to consolle), but I was partialy right:
I

[2020-10-12 19:52] lukaarma commented on #257
You could use [subprocess.run()](https://docs.python.org/3/library/subprocess.html#subprocess.run) while piping STDOUT to the father, like this
[code]

I'm not 100% sure since my python3 it's a bit rust but it should work

[2020-10-12 21:14] FraH90 commented on #257
Thank you!
I'll try to implement this when I'll have the time.
For now I've resolved using the output redirection with powershell, and then with grep (no matter how big is the txt file) I've extracted all the lines where it says "finished" (which gives me the video downloaded).

Thank you, you can close this ;)

[2020-10-12 21:15] lukaarma commented on #257
You can too :P

[2020-10-12 21:15] #257 closed

[2020-10-12 23:30] DannyCork commented on #223
**### military grade tractor beam**

[2020-10-13 07:47] Alex87a commented on #251
Yes @lukaarma please. I would like to learn how to change it.

[2020-10-14 13:06] Alex87a opened #258 "Error with "npm run build""
Hi, I was trying to install the aria2 branch on my pc with Windos 7 operating system, however after performing the procedure, I arrive at the command npm run build and this message appears. What to do to solve?

Transpiling TypeScript to JavaScript...
destreamer/test/test.ts(6,25): error TS2307: Cannot find module './Types' or its corresponding type declarations.
npm ERR! code ELIFECYCLE
npm ERR!

[2020-10-14 14:47] Alex87a commented on #258
Guys I solved, I close.

[2020-10-14 14:47] #258 closed

[2020-10-15 12:55] Bigemul opened #259 "FFmpeg Permission denied"
Hi everyone

When I run the program:

`My-Laptop:destreamer Me$ ./destreamer.sh -i https://web.microsoftstream.com/video/ee754368-e484-43a2-a25d-378fcb40757f`

I get this:

[code]

I installed FFmpeg on their website (UTC compile date: 2020-10-12 ). Could you help me?

[2020-10-15 13:12] snobu commented on #259
[code]

Maybe you want to specify a different output path, looks like you can't write to `videos/`. Use `-o path/to/output/dir`.

[2020-10-15 13:36] Alex87a commented on #251
Can anyone help me?

[2020-10-15 13:46] lukaarma commented on #251
replace this line
https://github.com/snobu/destreamer/blob/ac0fdf54683a057e76f2c57a1b08c598358d4acc/src/VideoUtils.ts#L17
with ```return `${day}-${month}-${dateJs.getFullYear()}`;```

[2020-10-15 16:01] phormula opened #260 "Download Videos as a Meeting Guest"
I don't if this is the right place to ask this but is it possible for destreamer to download videos when you're a guest of MS team meeting?

[2020-10-15 16:18] lukaarma commented on #260
We do not support Microsoft Teams yet see #132

[2020-10-15 16:18] #260 closed

[2020-10-15 18:25] Alex87a commented on #251
Sorry but... I just don't know how. I searched the net to avoid disturbing you but honestly I could not understand... Could you explain me exactly which editor I can change the code with?

[2020-10-15 18:44] stkalcic1994 opened #261 "This is AWESOME!"
Hey,
Sorry I opened a ticket, I just couldn't find any other quick way to contact you guys all at once. This application is fantastic and I really appreciate all the work put into it. I'm not used to working from CLI but even I figured it out, the readme was very informative and got me up and running. I love that I can just add a URL to a group I'm in and it will download all the videos. I've even

[2020-10-15 19:25] snobu commented on #261
![image](https://user-images.githubusercontent.com/6472374/96176604-40d02c00-0f35-11eb-8634-2dd1723888a8.png)

We truly appreciate this kind of feedback. Hope you enjoy the work of so many talented people that have contributed to this project. Cheers!

[2020-10-15 19:25] #261 closed

[2020-10-15 19:56] Joy3van opened #262 "Report errors when reading URLs from a .txt file created by > operator"
Hi there,

So I was trying to download multiple videos and I used > to create a file.
What I did was simply ``` echo "[THE VIDEO LINK]" > links.txt ```.
And when I try to use the -f option, it reported warnings that the URL is Invalid. However, the links are fine and if I paste them in a file created by Notepad, the program runs perfectly.
I'm using Windows 10(2004) and running destreamer in Power

[2020-10-15 23:42] kamark85 opened #263 "Getting Error when trying to download a video (worked fine until a few moments earlier)"
Hello, I used destreamer until a couple of hours ago without problem. Now i get this error

[ERROR] SyntaxError: Unexpected end of JSON input
    at JSON.parse (<anonymous>)
    at TokenCache.Read (C:\Users\XX\Videos\Destreamer\build\src\TokenCache.js:21:28)
    at main (C:\Users\XX\Videos\Destreamer\build\src\destreamer.js:212:32)
    at processTicksAndRejections (internal/process/task_queues.js:

[2020-10-16 00:09] Alex87a commented on #262
Hi, I can tell you my experience. I use cmd and I also created a text file containing all the links (although I advise you to put only the links of the channels, the script will download all the videos in it).  My .bat file looks like this:
@echo off
cmd /k --username "email@example.it" / -f "C: //Users/Alex/Desktop/file.txt" / -o "C: //  Users / Alex / Desktop / Video ".
Personally I find it very

[2020-10-16 00:17] Alex87a commented on #263
Hi, I think you used the  --keepLoginCookies, -k command to keep the session active. If so, try deleting that item and restarting the download.

[2020-10-16 05:44] kamark85 commented on #263
Hi, first of all thanks for answering.

I am not using -k. In fact I am just using the -i (Link) parameter.

[2020-10-16 06:37] snobu commented on #251
You change that locally on your machine. Notepad would do or any other text editor.

[2020-10-16 06:54] Alex87a commented on #251
Hello @snobu, first of all thanks for replying! However, I don't understand which file I can open with Notepad, specifically which file is which, opening it, makes me change the code. Could you help me?

[2020-10-16 07:35] snobu commented on #251
This file,

destreamer/src/VideoUtils.ts

Where destreamer is the name of the directory you cloned (or downloaded) this repository to.

[2020-10-16 08:46] Alex87a commented on #251
Sorry but it doesn't work, the date always remains in the previous format.

[2020-10-16 09:25] FraH90 commented on #251
You need to recompile destreamer using the same commands you've used at the beginning of the installation (skip obviously the git command)

[2020-10-16 14:37] alds-02agem opened #264 "Firefox instead of Chromium"
Hi,
i have tried to plug in firefox instead of chromium for the  authentication part, following the instructions given. It doesn't work at all. Maybe it works only with chromium-based browsers ?

[2020-10-16 16:19] snobu commented on #264
Puppeteer talks DevTools protocol which is Chromium only. You'll want Microsoft's Playwright to go cross browser,, including Firefox. Should be an easy change in destreamer.ts. Maybe, not sure, everything looks trivial if you don't personally need it :)

https://github.com/microsoft/playwright

[2020-10-17 15:41] Tajnymag commented on #264
@snobu Puppeteer supports Firefox natively since version 3.0. ([Source](https://github.com/puppeteer/puppeteer#q-what-is-the-status-of-cross-browser-support))

The problem @alds-02agem experiences might be due to a different set of flags needed to be passed to the firefox binary.

I haven't made it to work myself, but it should theroretically work with the correct puppeteer config.

[2020-10-17 16:26] snobu commented on #264
If you look in package.json we are using puppeteer 2.1.1. Try to upgrade to 3.x then, hopefully no other changes are necessary.

[2020-10-17 16:28] Tajnymag commented on #264
The [aria2c_forRealNow](https://github.com/snobu/destreamer/tree/aria2c_forRealNow) currently uses puppeteer 5.3.0. That might also be an option.

[2020-10-17 16:31] lukaarma commented on #263
Is this solved @kamark85? If yes then close the issue, thank you :D

[2020-10-17 16:33] lukaarma commented on #264
I used Firefox while testing my branch and it did work, so @alds-02agem you could try the new branch or update puppeteer in the master branch

[2020-10-17 16:34] lukaarma commented on #262
Could you please run it again with the '--verbose' flag and paste here the output?

[2020-10-17 16:35] lukaarma commented on #254
Did the error happen again @Alex87a?

[2020-10-17 16:44] kamark85 commented on #263
Yes, I was giving it a couple of days in case someone else had my problem. Will close now :).

[2020-10-17 16:44] #263 closed

[2020-10-17 16:55] Alex87a commented on #254
Hi @lukaarma, for now the error seems to have never happened again, thank you very much!

[2020-10-17 17:37] lukaarma commented on #254
Nice! I hereby declare this bug exterminated.

[2020-10-17 17:37] #254 closed

[2020-10-18 08:47] alds-02agem commented on #264
Thank you all for your support. I'll try all the options.
@snobu you're right, it's just for optimization. To get the video url you need to login to M stream in any browser you use. So why login again in chromium? i propose firefox because that's the browser i use.
what do you think about replacing the username login in destreamer with browser selection ? (for examples -firefox, or -chrome instead

[2020-10-19 06:22] Joy3van commented on #262
Hi, sorry for the late reply. I did the same with different links, here's the output
[code]

[2020-10-19 06:31] snobu commented on #262
Can you paste the content of your input file here please? Censor out GUIDs if necessary.

[2020-10-19 06:33] Joy3van commented on #262
Hi luka, thanks for your reply!  I'm not familiar with batch scripts, so I'm not quite sure how your .bat file works, could you explain? Where is the ".destreamer" part?

[2020-10-19 06:46] Joy3van commented on #262
Thanks for your reply! The file actually contains nothing but pure links, just if the file is created using ``echo`` and stdout, it reports "Invalid URL".
Here's a breakdown of every command I typed:
[code]
However, if I open notepad ->  paste the same links -> save as xxx.txt, and use this as input file. It works perfectly fine.

[2020-10-19 11:08] alds-02agem commented on #247
I spent some time having fun with graphic programs
![destreamer1](https://user-images.githubusercontent.com/72984693/96442815-0358f080-120c-11eb-92e2-2bd41e1fad57.png)
![destreamer2](https://user-images.githubusercontent.com/72984693/96442822-0522b400-120c-11eb-8801-276351556f66.png)
![destreamer3](https://user-images.githubusercontent.com/72984693/96442831-06ec7780-120c-11eb-989a-b6c100958381.png

[2020-10-19 11:23] alds-02agem commented on #247
I spent some times trying something
![destreamer3-2](https://user-images.githubusercontent.com/72984693/96444233-356b5200-120e-11eb-8797-b6505598faf3.png) ![destreamer1-2](https://user-images.githubusercontent.com/72984693/96444235-3603e880-120e-11eb-81c2-19a7a62a2d56.png) ![destreamer2-2](https://user-images.githubusercontent.com/72984693/96444237-3603e880-120e-11eb-9be8-08158762568c.png)

[2020-10-19 14:39] Everton-Colombo commented on #247
Wow. I find those really cool.

[2020-10-19 17:38] Alex87a commented on #262
You're right, I'm a fool!
I'll show you my complete .bat file, with it just click on it and it will download everything automatically. For a few weeks I have directly entered the link of the Team and I must tell you that a bomb goes! After a few lessons I start the .bat file and, thanks to the --skip command, avoid re-downloading the same lessons but download the new ones (super fast!).

Copy this

[2020-10-20 11:08] dshot92 commented on #223
Military grade tractor beam is actually perfect

[2020-10-20 11:19] pivotz1 commented on #238
Hi! I have the same problem, but I've installed ffmpeg simply via apt (first remove it, then apt install), and the above error appears again and again!
Then I' used this: sudo mv /usr/local/bin/ffmpeg /usr/local/bin/ffmpeg_old
And then reinstall ffmpeg via apt, and it works now!

[2020-10-21 06:54] mehdi-etr opened #266 "Error on aria2c"
OS: win 10

Launch command used: .\destreamer.cmd -i https://www..

<details>
<summary>Verbose  log</summary>

[code]
</details>

[2020-10-21 07:05] #266 closed

[2020-10-21 14:14] hanaahwilliams commented on #223
hi, is there any way i could change the quality of the video? the link already supports 720 and 360 videos is there a way to choose? TIA!

[2020-10-21 20:41] mohamed-aiman opened #267 "Resume group video downloads"
**Issue:** Normally we get an access token for an hour. Lets say the group has lot of videos. In my case, when using group url my token expired before downloading of all videos are finished. So I ran the same command hoping it will resume from the next video. But, to my surprise it started from the first video. Also there might be some scenarios where additional videos are being added to the same

[2020-10-21 20:44] lukaarma commented on #267
There are already 2 solutions: use the '-k' option and during login consent to "remember me" and Destreamer will keep refreshing the token before it expires and even if it crash launch it again on the same download folder using the '--skip' option and we will not download again the files already present

[2020-10-21 20:49] mohamed-aiman commented on #267
Thank you for the clarification 👍🏽

[2020-10-21 20:49] lukaarma commented on #262
The echo command creates artifacts and formats each char with 2 bytes and I think it's screwing with node reading the file properly
Use notepad or any editor and this is solved

[2020-10-21 20:49] #262 closed

[2020-10-21 20:50] #267 closed

[2020-10-21 21:27] snobu commented on #262
@lukaarma this is most probably an encoding problem. Do we assume UTF-8 when we load the text file for parsing?

[2020-10-21 21:29] lukaarma commented on #262
Yeah it's for sure that, we assume utf-8 so it's parsed directly to string...we could create a reader and read from that in some way? I'll have to look up node docs about fa when I can

[2020-10-22 06:45] just1689 commented on #223
Orbital kinetic weapons platform

[2020-10-22 10:21] Alex87a commented on #223
Hi, this is the command with the description:

-q, --selectQuality Select the quality with a number from 1 (worst) to 10 (best), 0 prompts the user for each video [number] [default: 10]

Just change the value from 1 to 10 according to the desired quality, but I recommend you leave 720/1080.

[2020-10-25 20:09] frashersam opened #268 "ERROR request failed with status code 403"
Hello, i wanted to download videos using destreamer ( the links were in a txt archive) , and i went in a trouble, a got this message:
I`m using windows 7, the comand was executed in "Node.Js comand pront"

![2020-10-25 15_07_12-Greenshot](https://user-images.githubusercontent.com/73443754/97117745-ca20f480-16d3-11eb-800e-d37082595492.png)

sorry for my bad english.

<details>
<summary>Verbose log<

[2020-10-25 22:34] mngyuan opened #269 "CRF / more options for ffmpeg?"
I'm downloading the lectures from my courses, but I'd like to be able to control the filesize more granularly. I've been using h265 with a crf value of 35 `-crf 35` with good results with `ffmpeg`, but I noticed destreamer doesn't allow you to control this from the command line.

would you be open to adding this as an option? I could submit a PR as well if I get time over the next couple weeks.

[2020-10-26 15:01] utybo opened #270 "Is it possible to download a channel's videos?"
OS: Windows 10

Launch command used: ./destreamer.ps1 -i "https://web.microsoftstream.com/channel/some-channel-id" -k

Is it possible to download all the videos of an MS Stream channel? I tried just giving the URL as an input and that didn't seem to work. I obviously put a real channel ID instead of some-channel-id

<details>
<summary>Verbose  log</summary>

[code]
</details>

[2020-10-26 21:26] lukaarma commented on #270
Nope and I don't have any channel to take a look at their API calls nor I can create one.
So unless the almighty @snobu could help you are out of luck, sorry

[2020-10-26 21:27] lukaarma commented on #269
There are a couple of FFmpeg option that we already provide to use as an example if you wanted to create a PR (that would be really appreciated since I have little time to work on this, sorry)

[2020-10-26 21:28] lukaarma commented on #268
Can you normally play those video in a web browser? Because 403 normally means that you can't access them

[2020-10-26 21:29] lukaarma commented on #238
Closing as inactive

[2020-10-26 21:29] #238 closed

[2020-10-26 21:30] lukaarma commented on #251
@snobu do we want to use the locale time conversion to give a better UX?

[2020-10-26 21:30] lukaarma commented on #259
Any updates @Bigemul ?

[2020-10-26 21:33] lukaarma opened #271 "Error object not deserialized before verbose logging"
[code]

When printing the error in the ApiClient with verbose logging we are missing a JSON.stringify() so we print [object Object]

[2020-10-26 21:38] frashersam commented on #268
Hello, yes i'm able to play and acces to this videos on web broser ( also en microsoft team and microsoft steam), i noticed that I can download link by link from the txt archive, but web I run this comand:  destreamer -f 710.txt -o D:\1 -v got the error...
run fine:
destreamer -i urlvideo -o D:\1 -v --skip

Thanks for you attention

[2020-10-27 08:28] snobu commented on #251
I'd try to stay away from localization as much as possible since it comes with its own baggage.
I see this issue as a very edge case, let's not put our efforts here unless we see a pattern of issues telling us the ISO date format is up to no good.

[2020-10-27 08:28] #251 closed

[2020-10-27 18:34] hanaahwilliams commented on #223
should it be like >destreamer -q "5" -i "URL"

[2020-10-27 19:43] hanaahwilliams commented on #223
is there an MP3.exe file which i can add? like the ffmpeg.exe one

[2020-10-28 08:14] RTE90 commented on #268
Hi,
I have seen the same bug. The problem is in txt's number line.

[2020-10-28 16:16] hawnzah commented on #90
Hi, I'm trying to run destreamer on wsl2.
I changed the executablePath to my windows chrome.exe, but it is not rendering any content.

In console I get this error:

[WARNING] .token_cache not found.
Launching headless Chrome to perform the OpenID Connect dance...
[ERROR] [object Object]

Do you know what could be the problem?

[2020-11-01 18:56] 91857 opened #272 "trying using aria2c download is stuck at 0%"
Hi thanks for the very useful code, I installed "git clone https://github.com/snobu/destreamer -b aria2c_forRealNow", followed the guide to build it, downloaded ffmpeg and pasted in the destreamer directory, I already installed aria2c with  the same process and I also set the variables.
When I run the command from prompt(same results using cmd ofc) :
PS C:\destreamerAria2\destreamer> ./destreamer.

[2020-11-01 19:10] 91857 commented on #272
Tried  the same command on the plain version without aria2 and it works.  I can't figure it out how to set up properly aria2 ...

[2020-11-02 12:10] simotazi opened #273 "FFmpeg Permission denied"
OS:

Launch command used:

<details>
<summary>Verbose  log</summary>

[code]
</details>

Hi everyone

When I run the program:

Your environment has been set up for using Node.js 14.5.0 (x64) and npm.

C:\Users\....>CD C:\Users\.....\Desktop\DESTREAMER 64-BIT BY BENGRS

C:\Users\.....\Desktop\DESTREAMER 64-BIT BY BENGRS>DESTREAMER -i "https://web.microsoftstream.com/video/........"
Using ffmpeg ver

[2020-11-02 12:36] simotazi commented on #259
hi i have the same issue and thanks for ur help

[2020-11-02 13:04] simotazi commented on #273
Could you help me?and thanks

[2020-11-03 13:54] FraH90 opened #275 "Will destreamer be "updated" for MS Stream 2.0?"
Accordingly to Microsoft, in the next two weeks MS Streams will get a "major update", where the key point difference will be the way the videos are stored: from what I understand, they're planning to move the platform on a Sharepoint/Onedrive model, and files will be stored there.

Here there's some info about it
https://docs.microsoft.com/en-us/stream/streamnew/new-stream

From what I understand,

[2020-11-03 17:18] cristianapas commented on #268
Hello,
I have seen the issue using -i, but I normally play video in browser.

sorry for my bad english.

[2020-11-03 17:34] snobu commented on #275
F##k me. Nothing about this sounds like an improvement, but that's just me.

I'll see if i can get enrolled in the preview, then we'll know more about the future of destreamer.

Thanks for bringing this up.

[2020-11-03 17:47] FraH90 commented on #275
You're welcome! I thought you knew about this, even if it seemed a little bit strange to me that you guys were working on destreamer v3 and actually nobody was talking about this D:

[2020-11-03 19:26] Ace7s commented on #223
military grade tractor beam... Sounds good

[2020-11-05 22:16] plachta11b commented on #210
Can somebody test this workflow? I do not have access to any teams organisation anymore.

### step 1
```docker run -it -p 8080:8080 -v $(realpath ./video):/video plachta11b/destreamer:2b09d17 -i 'https://web.microsoftstream.com/video/______HASHOFYOURVIDEOHERE_____' -o /video```

### step 2
http://localhost:8080/vnc.html

### step 3
Video should appear in ./video directory.

[2020-11-06 11:48] cristianapas commented on #268
Hi,

Could it be that it only works if you are the owner of the video? As an administrator I can see them, but the only way to download them is by setting my username as the owner.

[2020-11-06 11:51] CrispJam opened #276 "Downloading starts and gets stuck"
OS: Windows 10 (windows terminal used)

Launch command used:
[code]

<details>
<summary>Verbose  log</summary>

[code]
</details>

Downloading starts and gets stuck at around 0 - 4 %

No matter what options I use (tried -x and different output paths) it always gets stuck.
I also tried running the script from cmd and it behaves in the same fashion.
The program stays stuck and outputs no further err

[2020-11-08 00:23] 3t8 commented on #247
What do you think of this?
<img src="https://user-images.githubusercontent.com/62209650/98454059-9a0c3380-2160-11eb-85bc-88b1422fbdac.png" width="300">

[2020-11-12 09:06] carminoski opened #277 "401/404 error codes, even if the videos are available"
Hello, it's a couple of days I am getting errors like this (see verbose down below). The videos are available on Microsoft stream and I can access the manually. I don't understand what has changed , it always worked without problems.

<pre><font color="#06989A">[VERBOSE] </font>Using ffmpeg version 4.2.4-1ubuntu0.1 Copyright (c) 2000-2020 the FFmpeg developers

<font color="#4E9A06">Access token s

[2020-11-12 09:17] carminoski commented on #277
<pre><font color="#4E9A06">Using ffmpeg version 4.2.4-1ubuntu0.1 Copyright (c) 2000-2020 the FFmpeg developers</font>

Video URLs:
[ <font color="#4E9A06">&apos;list.txt&apos;</font> ]

<span style="background-color:#4E9A06"><font color="#2E3436">Access token still good for 3 minutes.</font></span>

Video GUIDs:
[ <font color="#4E9A06">&apos;c0e75495-c62f-40ec-bdcf-cbb5473b8642&apos;</font>,
  <fo

[2020-11-12 10:02] mitchelmaxwel commented on #277
Strange. Very nice piece of work. I am following regardless

On Thu., Nov. 12, 2020, 4:07 a.m. carminoski, <notifications@github.com>
wrote:

[2020-11-12 17:43] frashersam commented on #277
hello, I also have the same problem. it happen when I try to download a Microsoft group or text file.
The only way i can download is link by link.

![sub](https://user-images.githubusercontent.com/73443754/98975617-53159980-24e4-11eb-934b-f671444ce031.png)

[2020-11-12 18:10] carminoski commented on #277
I tried installing the "original" destreamer instead of the forked destreamer-unipi and I am getting the same error message.
I used a text file, now I will try to pass directly the links one by one

 ![image](https://user-images.githubusercontent.com/20257940/98978467-4f046e80-251a-11eb-97ab-9215f44f1583.png)

[2020-11-12 18:51] carminoski commented on #277
maybe something has changed in the authentication procedure

![image](https://user-images.githubusercontent.com/20257940/98982878-56c71180-2520-11eb-8ff5-10d9fea7a0f5.png)

[2020-11-12 23:19] carminoski commented on #277
now it is making the same thing even with a single video link

[2020-11-13 16:12] Saiitama commented on #270
it would be really usefull

[2020-11-13 18:19] mitchelmaxwel commented on #270
Looking forward to learning more about this program,

Thank you

Lloyd

On Fri., Nov. 13, 2020, 11:12 a.m. Andrew, <notifications@github.com> wrote:

[2020-11-14 18:12] snobu commented on #277
Fixed the verbose logging and got this:

[code]

So there's pagination now added to to the API, i added quick workaround, only the first 100 videos will be downloaded for a group.

Fix is now applied to both `master` (destreamer 2.0) and `aria2c_forRealNow` (3.0).

You'll need to `git pull` to merge changes then `npm run build`.

[2020-11-14 19:20] carminoski commented on #277
now it seems to work with single video links, but unfortunately not with a text file list
In any case, you did a good job !

[2020-11-14 20:26] xfarrow opened #278 "Cannot find module destreamer.js"
I'm using a Linux machine (Debian-based) with

- the latest version of destreamer (cloned from GitHub);

- Node.js version 8.10.0

- npm version 3.5.2

- ffmpef version 3.4.8
When executing "./destreamer.sh" the following error pops up:

[code]
indeed I can't find any "build" folder in the project.

[2020-11-14 20:43] snobu commented on #278
I believe you may have skipped the build step.
[code]

[2020-11-14 20:53] xfarrow commented on #278
@snobu I did it, just realized it was failing, now fixed. Thank you!

[2020-11-14 20:53] #278 closed

[2020-11-15 08:27] ahmedalaaamin opened #279 "Microsoft"
Thanks

[2020-11-17 20:15] adamkovari opened #280 "stdout is not a tty"
Hi,

i get this : "stdout is not a tty", what is this issue?

Thx

[2020-11-18 18:42] snobu commented on #280
Most probably your terminal is not a native Windows terminal. Use either cmd.exe or PowerShell to host destreamer, don't use "Git Bash", "MinTTY" and the sorts, their time is over.

Windows Terminal is also a great option for running destreamer -
https://www.microsoft.com/en-us/p/windows-terminal/9n0dx20hk701?activetab=pivot:overviewtab

[2020-11-18 20:26] duo6666 commented on #280
Hello, guys:

Destreamer works great since Sept 01, but it didn't work now.
Window 10 system(2018.09 version).
How to fix it?

On Wed, Nov 18, 2020 at 2:43 PM Adrian Calinescu <notifications@github.com>
wrote:

[2020-11-19 13:08] TobiasPressler opened #281 "Improve README for input file"
1. The example for the input file contains a quotation mark at the end, but it was never opened.

2. The file path for a url in the input file also needs quotation marks around it, but this was never mentioned in the doc, nor in the example

[2020-11-20 09:57] marcellocellinaulb commented on #223
Torpedoooooooo

[2020-11-20 12:47] mikolaje opened #282 "Progress is stuck at 0%"
OS: MacOS

Launch command used:
./destreamer.sh -u xxx@xxx.com  -i "https://web.microsoftstream.com/video/082235c2-2b4f6c5-9ee1-ed65f95036e7?list=watchlist" --verbose

![image](https://user-images.githubusercontent.com/11773334/99801443-00398300-2b71-11eb-858c-b0e4a52b5872.png)
<details>
<summary>Verbose  log</summary>

[code]
</details>

[2020-11-20 13:21] mikolaje commented on #282
I suspect it was due to the terminal proxy network issue. After I added a proxy to my terminal and tried again, it turned out:
[code]

[2020-11-20 17:31] PauloBoaventura commented on #223
TFosorcim TOP

[2020-11-21 04:52] mitchelmaxwel commented on #223
Zoooom

On Fri, 20 Nov 2020 at 12:31, Paulo Boaventura <notifications@github.com>
wrote:

[2020-11-22 18:54] #281 closed

[2020-11-23 16:27] rockguy40 commented on #90
I have the same problem. I can't seem to make it work even with xming

[2020-11-23 17:03] phormula commented on #90
I think you need to make a double slash
Like this
[code]

[2020-11-23 17:10] rockguy40 commented on #90
I ended up using this tutorial on yt, works as a charm [https://www.youtube.com/watch?v=9Fx7UCsSG9g](url)

[2020-11-25 02:14] Tomas-kubicek opened #284 "Video is incomplete after download"
I recently downloaded a video. The weird thing is, that after successful download only a part of the video with many glitches was downloaded. This happened even when I tried it several times. However, downloading most other videos seems to be ok. This happened 2 times so far, both of those videos from the same author.

[2020-11-27 10:31] nitpack opened #285 "Got HTTP code 403"
it was just working great, downloaded 7 videos already today
but when I updated links in the txt file to download the next set of videos it gave me this:

Access token still good for 54 minutes.

Parsing input file
Fetching videos info...

[WARNING] Got HTTP code 403. Retrying request...

[ERROR] Error: Request failed with status code 403
    at createError (D:\others\destreamer-master\node_module

[2020-11-27 22:38] antonvalletas commented on #285
Same happening to me right now.

[2020-12-01 20:11] FraH90 opened #286 "Request failed with status code 400"
Today, on some downloads, I'm getting this error:

`Username: ***************************** Access token still good for 31 minutes.
Parsing video/group urls
[WARNING] HTTP code 400. Retrying request...
[ERROR] Error: Request failed with status code 400 at createError (C:\destreamer\node_modules\axios\lib\core\createError.js:16:15) at settle (C:\destreamer\node_modules\axios\lib\core\settle.js:17:1

[2020-12-01 20:35] snobu commented on #286
The reason is in the 400 response body but for some reason we decided to only print that when you're passing -v to destreamer.

Make sure you have destreaner at latest commit and run again with -v.

[2020-12-01 21:20] FraH90 commented on #286
Ok, I've run it with an updated version of destreamer (the latest, in master branch) and without -v I'm getting this:

`Username: ************************
[32mAccess token still good for 59 minutes.
[39m
Parsing video/group urls
[33m[39m
[33m[WARNING] [39mGot HTTP code 403. Retrying request...
{
  error: {
    code: 'Forbidden',
    message: 'The authenticated user is not authorized to acces

[2020-12-01 21:21] FraH90 commented on #286
PS: moreover, now I see that the error isn't anymore a 400, but a 403. But this happens on the very same videos (on the very same group) on which I had the 400 before.

[2020-12-01 22:49] FraH90 commented on #286
Ok... my fault. I've just seen that the errors were relative to a couple of teams where I've been kicked out XD
Nothin more.

(I would close this thread but I don't know how to do it D:)

[2020-12-01 22:53] #286 closed

[2020-12-02 20:58] mcDandy opened #287 "Cannot use my own browser"
I tryed running destreamer, but for whatever reason chrome starts only when I rename the executable. I tryed pointing it to chrome instalation directory. I did it exactly as in readme. changing line 52 of destreamer.ts to "executablePath: 'C:\Program Files\Google\Chrome\Application\chrome1.exe'," and building it.
OS: Windows 10 20H2

Launch command used:  .\destreamer.cmd -v -i [adress]

<details>

[2020-12-02 22:01] snobu commented on #287
We may have a typo there, i believe you need double backslash on Windows to escape the escape char, e.g. `C:\\Program Files\\...`. Try it out and report back.

[2020-12-02 22:03] snobu commented on #273
Looks like you can't write to the `videos` directory for some reason. Try adding `-o "C:\some\other\path"` to change the downloads directory.

[2020-12-02 22:05] snobu commented on #271
Fixed in both master and aria development branches, thanks for the report! We should probably print the response body without the verbose flag as well since, well.. it's a critical piece of information we should return to the user.

[2020-12-02 22:05] #271 closed

[2020-12-02 22:14] snobu commented on #282
Just wondering if you managed to fix this on your own in the meantime.

[2020-12-02 22:15] snobu commented on #284
Let's get this down in history as a glitch, if it keeps coming back for you for random videos please reopen the issue.

[2020-12-02 22:15] #284 closed

[2020-12-02 22:17] snobu commented on #277
Not sure what would be different about a text file as input, is it the same exact error message?
[code]

[2020-12-03 07:16] mikolaje commented on #282
hmm, sorry I'm not familiar with JS. I have no idea how to fix it.  I feel so appreciate if anyone can fix it. Thanks a lot.

[2020-12-03 15:37] snobu commented on #282
I don't mean fix it in code, try destreamer on an internet connection that doesn't use a proxy.
We do not support downloading over a proxy.

[2020-12-03 16:39] #279 closed

[2020-12-03 16:40] #280 closed

[2020-12-03 16:42] lukaarma commented on #276
Did it happen again?

[2020-12-04 21:15] mcDandy commented on #287
thank you. Did not thing, that this is some type of source file. So it means \ is used with another character to denote tablutors newlines EOF and other special characters.

[2020-12-04 21:15] #287 closed

[2020-12-05 12:42] mikolaje commented on #282
it seemed to be working on other network. it's probably due to the networking problem. Thanks for your reply. closed it.

[2020-12-05 12:42] #282 closed

[2020-12-08 09:31] ferraridamiano opened #290 "Add option to delete the line corresponding to already downloaded video"
I use a lot the option -f to download videos from a list of links. It would be very useful if there is an option that let the program delete the line of the link when the download is terminated without any errors. Because, if the program has an error I have to manually check every link to know if a video has been downloaded.

Thank you for this project!

[2020-12-08 11:12] Oodoctor opened #291 "Errors when "npm install" & "npm run build""
Hello,

So first of all I would like to point that I am not very bright when it comes to cmd stuff so this issue might seem stupid to you, but for me, I am completely lost.

So I followed the tutorial on [this video](https://www.youtube.com/watch?v=vmND6dLBzlI). But I get these errors (even when I open cmd as administrator).

Here is the screen capture of the errors:
![image](https://user-images.g

[2020-12-11 04:25] pistachoo opened #292 "FFmpeg returned an error: Could not write header for output file #0 (incorrect codec parameters ?): Invalid argument"
OS: 10.15.7 Catalina (MacOS)

Launch command used:
./destreamer.sh -i "https://web.microsoftstream.com/video/VIDEO-1"

I am an elementary school teacher with enough tech savvy to follow instructions and copy-paste things into Terminal. (lol)

I'm trying to download a large (3h30m) video from MS Stream that our district shared for our last Pro-D day: I showed part of it (1h30m) to my class and a st

[2020-12-11 14:33] lukaarma commented on #292
FFmpeg seem to be complaining about a codec error.. So you could try again (maybe even with a different output folder) and if the error happens again you could try to append `--vcodec libx264 --acodec aac` to your launch command to force a re encoding of the video (it will be slower but could possibly solve the issue)

PS: If the error happens again please run it with `--verbose` appended and past

[2020-12-11 14:34] lukaarma commented on #291
could you download again Destreamer [here ](https://github.com/snobu/destreamer/archive/master.zip) and try again?

[2020-12-11 15:00] Oodoctor commented on #291
That's where I originally downloaded it from, I don't how it would fix the problem since it hasn't been updated since I wrote this. (last update was 9 days ago, and I wrote this 3 days ago)

[2020-12-11 15:30] snobu commented on #292
For MacOS use the ffmpeg binary from brew (brew install ffmpeg), that has a much higher chance of working than cherry-picking binaries off the web.

[2020-12-12 17:55] Alex87a opened #293 "Increase speed further?"
Hi, I downloaded the hypothetical version v3. However, my download speed remains stuck at 3.0 Mb / s.
Would it be possible to increase it? I have Gigabit fiber at home and could reach much higher speeds.
Thanks in advance for your reply!

[2020-12-13 23:38] pistachoo commented on #292
Yes, I did use brew to install ffmpeg.

[2020-12-14 01:59] pistachoo commented on #292
It didn't work.

[code]

[2020-12-14 02:11] lukaarma commented on #292
Ffmpeg really doesn't like that video... I couldn't find much online about that error you got.. you could try again the same command removing `--acoded aac` and see what happens
Or you could try the new faster branch that you can find [here](https://github.com/snobu/destreamer/tree/aria2c_forRealNow), you just need to download and install aria2c then the process is the same as using master: `npm i

[2020-12-14 07:09] pistachoo commented on #292
Trying the same command without the `--acoded aac` didn't work either.

[code]

[2020-12-14 07:17] lukaarma commented on #292
For the new branch it's same same as the one you are using now but you need aria2c installed on your PC and either on PATH or in Destreamer root folder

[2020-12-14 11:00] lukaarma commented on #291
You have to check inside your Destreamer folder if there is a file called `package.json`, If not then you have to download it again because it's missing a required file.
If the file exists then try to move the folder to something like your Documents folder because maybe there were some permission issues.

[2020-12-14 11:39] snobu commented on #292
Looking at your verbose output, i see you're running a ffmpeg binary from 2015. That's not going to work for destreamer.
Not sure how you ended up with that from brew, so maybe remove it and just download a fresh binary somewhere in your $PATH.

https://evermeet.cx/ffmpeg/

[2020-12-14 11:47] snobu opened #294 "Warn on old ffmpeg binaries"
If we detect an older ffmpeg binary it will most likely not support encrypted HLS or a bunch of codecs so we should warn right before we start the download (so it's visible).

[2020-12-14 11:47] snobu commented on #292
@lukaarma We should probably warn for aged ffmpeg binaries since it seems this is a very common pitfall.
Tracking here https://github.com/snobu/destreamer/issues/294

[2020-12-14 11:52] snobu commented on #294
[code]

I hope there's a better way to get the version number, since i'd like to avoid both regex and string parsing... but you know, one can dream.

[2020-12-14 13:27] lukaarma commented on #294
I'll push something to #288 @snobu

[2020-12-14 13:28] lukaarma commented on #292
Nice catch!

Further discussion moving there

[2020-12-14 13:29] lukaarma commented on #294
We get the command output in node, so we can do some magic there but we have to rely on regex since I didn't find any other method to get the version out of ffmpeg

[2020-12-14 13:31] snobu commented on #294
Let me ask the ffmpeg developers maybe there's a sane way to get version without black magic.

[2020-12-14 13:34] lukaarma commented on #294
Ok, in the meantime I'll prepare the update just in case

[2020-12-14 14:07] snobu commented on #293
Not sure if you're hitting the limit of what aria2c downloader can do or what the Microsoft Stream storage backend can give you, either way we are not restricting speed in any way.

[2020-12-14 14:07] #293 closed

[2020-12-14 15:10] snobu commented on #294
Not really getting the answers i was expecting so i believe we should just parse the version string and trigger on the Copyright year. 2019 and above should do. We can't really match the version number since instead of a number it may be a git commit id if someone pulls a nighly binary.

[2020-12-15 04:18] pistachoo commented on #292
Ok, how do I replace ffmpeg the ancient? Because I did run `brew install ffmpeg` so I thought I had the most recent one.

[2020-12-15 05:42] pistachoo commented on #292
Alright, I went down the rabbit hole trying to figure out what bits to copy-paste into Terminal ;) and have successfully reinstalled homebrew and ffmpeg 4.3.1 – yay!

Am now running `./destreamer.sh -i "https://web.microsoftstream.com/video/98f45008-0c47-4307-8913-799eb213c2b2" --vcodec libx264 --acodec aac --verbose` again, and this time the progress bar is moving. Fingers crossed it works! (It's

[2020-12-16 05:39] pistachoo commented on #292
It worked! (took until 2 a.m. apparently) Thanks for the help everyone!

[2020-12-16 16:30] chief18 opened #296 "Not a real problem, but aria2c doesn't go faster than v2"
OS:

Launch command used:

<details>
<summary>Verbose  log</summary>

[code]
</details>

[2020-12-17 14:28] #296 closed

[2020-12-17 14:28] chief18 commented on #296
Solved

[2020-12-17 16:32] snobu commented on #296
Sharing some insight into what was wrong and how you fixed it may help future fellow users of this software.

[2020-12-17 20:58] daarong commented on #146
I am experiencing this, Win10. I'm not the greatest with npm so I did not get this resolved.

I simply dropped ffmpeg binary into the folder - - this application worked wonders after that.

[2020-12-18 15:40] Kanbe-Kotori opened #297 "Invalid data found when processing input"
I have installed the latest version of ffmpeg (4.3.1), but I have an error running the program:
--------------------------------------------------------------------
./destreamer.cmd -f list.txt -o E:\Temp\Test
Access token still good for 28 minutes.

Parsing input file
Fetching videos info...

Downloading Video: Comp5241 2020 Fall Trial Lecture 1

Spawning ffmpeg with access token and HLS URL. Thi

[2020-12-18 15:40] Kanbe-Kotori commented on #297
ffmpeg -version
ffmpeg version 4.3.1-2020-11-19-full_build-www.gyan.dev Copyright (c) 2000-2020 the FFmpeg developers
built with gcc 10.2.0 (Rev5, Built by MSYS2 project)
configuration: --enable-gpl --enable-version3 --enable-static --disable-w32threads --disable-autodetect --enable-fontconfig --enable-iconv --enable-gnutls --enable-libxml2 --enable-gmp --enable-lzma --enable-libsnappy --enable-zl

[2020-12-18 22:43] Luke0423 opened #299 "*BUG* --closedCaption doesn't work if --format " " is specified"
Hi just found that the --cc flag doesn't work if --format " " is specified other than using the default "mkv",  which doesn't need to be specified at all. It seems --cc only works when there's no --format specified could you pls fix that? Cheers!

[2020-12-19 13:12] yylliw opened #300 "FFmpeg returned an error: Did you mean file: ...?"
Hi,
I went through the installation with success (running Kubuntu 20.04), destreamer seems to work (I can log into chromium), but then suddenly stops and I get the following message :

I'm trying to download a Teams's meeting record but the video is available in Stream (from which I copy the link, in that case it is "https://web.microsoftstream.com/video/f8f492dd-077d-4eb8-831a-5673100f2138"), and

[2020-12-19 17:57] lukaarma commented on #299
Oh yeah, probably ASS can't be placed in any container.. do you have any specific example?

[2020-12-19 18:46] Luke0423 commented on #299
yes for example
`./destreamer.sh --cc --format "mp4" -i https://web.microsoftstream.com/video/xxxxxxxxxxxxxxxx`
or
`./destreamer.sh --cc --format "mov" -i https://web.microsoftstream.com/video/xxxxxxxxxxxxxxxx`
will download the video but won't generate any caption

but  `./destreamer.sh --cc --format "mkv" -i https://web.microsoftstream.com/video/xxxxxxxxxxxxxxxx`
will and works fine
Hope that he

[2020-12-19 20:45] lukaarma commented on #299
The issue is what I stated above, should be a quick fix @snobu.
Here is what i found:

Need to add `-c:s mov_text` when mp4 is selected

Same as above because if i remember right QTFF it's just a fancy mp4

[2020-12-20 12:39] caesar753 opened #301 "Cannot store/read username/password"
Hello,
i tried to fille automatically username/password fields using the credentials.txt password as in the instructions but it didn't work.
When I launch destreamer.sh it asks me username and password and then if i want to store it for future usage, if i choose y(es) it crashes me with this error code

[2020-12-22 20:08] caesar753 opened #302 "Cannot download more than 2 videos/time from file"
Hello,
i'm trying to download videos from urls stored in a txt file: the first two are downloaded smoothly, when the third url is reached this is the error code i get:

[2020-12-24 15:06] yylliw commented on #300
I just saw there is a verbose mode, my bad. If it can give anyone some idea, here's what I get :

[2020-12-24 17:47] Ayanmullick commented on #236
@lukaarma, I'm facing the same error. The Chromium instance being downloaded has extension installation disabled and one isn't able to enable it using flags either.

![image](https://user-images.githubusercontent.com/17693249/103101505-7f413180-45dd-11eb-940a-f97a32ab4c22.png)

Could destreamer launch the default browser on the machine instead of the downloaded Chromium?

[2020-12-24 18:50] lukaarma commented on #236
Sure you can take a look [here](https://github.com/snobu/destreamer#can-i-plug-in-my-own-browser)
For now it's the only way and it's a bit annoying, I'm sorry

[2020-12-24 19:38] Ayanmullick commented on #236
Thank you for your response, @lukaarma. I couldn't get it to work.  After adding the path and rebuilding it doesn't prompt for login.😞

[2020-12-24 19:59] lukaarma commented on #236
Does it give you any error when you launch it?
Can you provide a screenshot of the lines of code you modified please?

@snobu we have to create a more friendly way to let user plug in their browser

[2020-12-26 21:31] Ayanmullick commented on #236
@lukaarma, I changed the `executable path`, as pointed in the [document](https://github.com/snobu/destreamer#can-i-plug-in-my-own-browser).

<details>

<summary>Screenshot</summary>

![image](https://user-images.githubusercontent.com/17693249/103159438-041f7d00-478f-11eb-94a8-8d9bb25a2f1b.png)

</details>

Looks like it's failing to launch Edge.

<details>

<summary>Screenshot</summary>

![image](

[2020-12-26 21:34] lukaarma commented on #236
You have to escape the backslashes like this `\\` or use `/` as a separator for the executable path

[2020-12-26 22:04] Ayanmullick commented on #236
Thanks for pointing out, @lukaarma. I get a [similar compliance error](https://user-images.githubusercontent.com/17693249/103101505-7f413180-45dd-11eb-940a-f97a32ab4c22.png) when launching Edge without a Profile. And the [same Git error](https://user-images.githubusercontent.com/17693249/103159361-26fd6180-478e-11eb-80ac-d2deb609973e.png) when launching with a profile.

<details>

<summary>Code sc

[2020-12-28 13:48] rohith1125 opened #304 "Regarding multiple downloads"
Is it possible to download multiple videos, under the same channel in ms teams using this tool?

[2020-12-30 14:48] itpropro opened #305 "Is it possible to manually provide access/refresh token"
There seems to be a problem in the login process with guest accounts that are MSAs:
![image](https://user-images.githubusercontent.com/15030951/103358654-6beb0600-4ab6-11eb-81ec-8f9d6506d346.png)
Therefore, is it possible to directly provide an access/refresh token to the application without going through the login process?

[2020-12-30 15:58] snobu commented on #305
Yes there is, just have your own token acquisition logic update the AccessToken key in `.token_cache` (it's a JSON file).

The cache file is created by destreamer on first run, you'll need it to populate Gateway URL and version since they are different across MSStream tenants:

Example:

[code]

[2020-12-30 15:59] snobu commented on #305
By the way, if you have to login to a custom URL just go there and login, destreamer doesn't care, it will simply wait for you to log in then scrape the access token off of the video page you land on.

[2021-01-01 16:18] Klimmbimmel commented on #111
The issues occured for me with the addon, trying to download 1080p (Full HD) version of an embedded vimeo video. (Do you need a link? kenmartini DOT com SLASH dance-documentary )

[2021-01-02 17:03] IgcMoha commented on #223
imperial infiltrator

[2021-01-05 17:10] ggiuliz opened #306 "destreamer -- error message"
./destreamer -i url
error message returned:

Error: Failed to launch the browser process! spawn /Users/giuliz/destreamer/node_modules/puppeteer/.local-chromium/mac-722234/chrome-mac/Chromium.app/Contents/MacOS/Chromium ENOENT

  .......could you advice me?

[2021-01-07 01:28] Tanmengxuan commented on #300
I got this error as well on Ubuntu 16.04, npm 6.14.10 and ffmpeg 4.3.1.

[2021-01-08 15:14] lukaarma commented on #306
did you run `npm i; npm run build` before launching that command?

[2021-01-09 09:45] ggiuliz commented on #306
Thanks for your answer

I did , I paste here the lines returned

giuliz@MacBook-Pro-di-Giuliana ~ % npm install -g npm
npm WARN checkPermissions Missing write access to /usr/local/lib/node_modules/npm
npm WARN checkPermissions Missing write access to /usr/local/lib/node_modules/npm/node_modules/ini
npm WARN checkPermissions Missing write access to /usr/local/lib/node_modules/npm/node_modules/opene

[2021-01-09 13:36] snobu commented on #306
[code]

Try that. Note the sudo.

[2021-01-11 20:13] ggiuliz commented on #306
Thanks!!!

So now it returns this:

zsh: permission denied: ./destreamer

(I’m logged in on teams, stream opened in safari and in chromium)

🙏

[2021-01-11 20:35] snobu commented on #306
Do a

chmod +x ./destreamer

[2021-01-11 21:02] ggiuliz commented on #306
Thanks

Same message

zsh: permission denied: ./destreamer

[2021-01-11 22:04] snobu commented on #306
It should be destreamer.sh, not sure what you're trying to execute, please look at the README carefully.

[2021-01-11 22:05] ggiuliz commented on #306
Ok, thanks for your help

[2021-01-12 05:13] bhushanbhavsa opened #308 "Permission Denied : Unknown FFmpeg error"
Hello everyone,

Everything was working great and when finaly the video has started to download then I got this error.
Please help me, I am not programmer I just copied the steps and now I am stuck with this error.

[WARNING] Access token has expired!

Launching headless Chrome to perform the OpenID Connect dance...
Navigating to login page...
We are logged in.
Wrote access token to token cache.
A

[2021-01-12 19:57] snobu commented on #308
If you can download other videos it may be that pound sign `#` in the title that can't be saved as a filename.

@lukaarma Do we include # in our sanitize method?

[2021-01-12 20:12] lukaarma commented on #308
@snobu we are the one adding the # before the uuid, but it shouldn't be a problem...no OS that I know of prohibits using # in the filenames

You could always use the --template to remove the uuid and see if it's that, there should be a section in the readme with more details

[2021-01-12 20:48] snobu commented on #308
Right. @bhushanbhavsa try specifing a different output directory via -o parameter. See Readme for details.

[2021-01-13 18:12] #294 closed

[2021-01-13 19:06] snobu opened #310 "/group download very slow to start"
When trying to download a group

[code]

Things become very very slow right here

[code]

Which is to be expected since groups usually have an _Elon Musk's net worth in Japanese Yen_ number of videos.

We should either put a cap on it or allow people to pass `-limit` and `-offset` parameters (better naming welcome) so the API spraying is a bit more controller.

[2021-01-13 19:26] lukaarma commented on #310
We could create an hidden "archive" file that keep track of group UUIDs and to which inddex the last video arrived

[2021-01-13 20:02] snobu commented on #310
Destremer shall remain stateless. Well, except login cookies.. necessary evil.
Group downloads are rare... i hope, so let's put in the minimal effort... for maximum satisfaction :)

[2021-01-14 20:58] ewmartinez commented on #163
It works on power shell..
Thank you

[2021-01-15 01:10] leetim13 commented on #308
@lukaarma @snobu Ran into this issue as well (first time), tried changing the title using -t but still got Permission Denied for all videos I tried.

[2021-01-15 22:58] raul5beltran commented on #308
I have had the same problem, someone knows how to solve it?

[2021-01-16 17:54] snobu commented on #308
Can someone walk me though all the steps you took before running destreamer? I am unable to repro this.

[2021-01-16 17:58] raul5beltran commented on #308
I run ./destreamer.ah -i link -o directory —format mp4

El El sáb, 16 ene 2021 a las 18:55, Adrian Calinescu <
notifications@github.com> escribió:

[2021-01-16 18:00] snobu commented on #308
Before that i mean. Did you follow the Readme or did you get creative? :) by creative i mean using sudo to clone and install and then no longer using sudo to run.

[2021-01-16 19:59] raul5beltran commented on #308
I install it like 7month ago. I don’t remember how do i install it. I had
been using it since the day I install it but 3 days ago stop working

[2021-01-17 17:56] snobu commented on #308
Assuming Linux/Mac/WSL, check ownership of the directory you specify via -o.

Use chown to change ownership to the same user yoi run destreamer as.

[2021-01-18 20:37] ldx63 opened #311 "How to make it run on a Raspberry PI (with functioning workaround)"
On Raspberry PI running RaspberryOS (formerly Raspbian) the Chromium downloaded by Destreamer can't run, since RPI has ARM architecture (I guess that the downloaded Chromium is the X86 architecture). I suggest to try to download the "right" Chromium compiled for ARM during installation, if possible.

Anyway, in the meanwhile i got it running on RPI by this workaround:

* change the correct instruc

[2021-01-19 19:15] andreafresco commented on #154
Hi thanks for the great work! I'm having the similar problem and I tried yours suggestion but I'm not able to solve it. The first time it worked and the day after it stopped working. I tried with different wi-fi networks and tried several time to run the code.
Could you help me? Below I'm attaching the code I run in the verbose mode:

$ ./destreamer.sh -v -i https://web.microsoftstream.com/video/6

[2021-01-20 05:52] Paxonite opened #312 "Issue with npm run build"
This is a similar problem to Ooodoctor's a few posts back, but I have no idea what went wrong. Also, like them, I am not familair with this stuff, so sorry about that. I also followed the same video as them.

In running npm run build I get this error message:
![erroe](https://user-images.githubusercontent.com/10555015/105132691-57989880-5ab9-11eb-98fa-d4d3bfa0dec6.png)

And the logs they mention s

[2021-01-20 08:56] lukaarma commented on #310
We could use the async nature of JS and request them slowly in the background while downloading the others?
Or we could do what you suggested, after the end of February, when I'm done with the exams I could take a look

[2021-01-20 14:31] neiesc opened #313 "Suggestion packing to npm repo or chocolatey"
I would like to use installing this tool not building.
Like https://chocolatey.org/packages/youtube-dl

Commands to will be used:
`choco install destreamer `
or
`npm install -g destreamer`

and run `destreamer -i "https://web.microsoftstream.com/video/VIDEO-1"` in any folders.

[2021-01-23 21:25] Itzal95 opened #314 "permission denied"
OS: Winddows 10
Using ffmpeg version git-2020-05-01-39fb1e9 Copyright (c) 2000-2020 the FFmpeg developers
C:\Users\saadm\Desktop> destreamer -i "https://web.microsoftstream.com/video/1000e170-1e8d-456f-b57b-8531957829bc"
Using ffmpeg version git-2020-05-01-39fb1e9 Copyright (c) 2000-2020 the FFmpeg developers

Creating output directory:
videos

.token_cache not found.

Launching headless Chrome to

[2021-01-26 11:16] wULLSnpAXbWZGYDYyhWTKKspEQoaYxXyhoisqHf commented on #268
hi there,
first off, thanks for an awesome project that helped me "save Ms Stream videos for offline enjoyment".
I have also recently encountered this issue (403 on download attempt).
I do have the permissions to watch the subject content, though I am not the owner of it.

This error is relatively new to me, although I see this Issue dates back to Oct 25 2020.
I have been *destreaming* videos as e

[2021-01-26 11:21] snobu commented on #268
Try running that with `-v` for verbose. It should print out the URL and reason for the 403 Forbidden HTTP error.

[2021-01-26 11:40] wULLSnpAXbWZGYDYyhWTKKspEQoaYxXyhoisqHf commented on #268
sure, here.

[code]

aaand I got it now - it was my bad.
Some videos have apparently changed permissions (since added to the list) and I don't have the right to view them anymore.
Verbose printing you suggested helped (silly me) - showed me the url that returned 403 --> I put it in the browser and got this
![image](https://user-images.githubusercontent.com/61180606/105840468-5abce880-5fd3-11eb-945

[2021-01-26 12:46] snobu commented on #268
Yes, we should print the response body for a 403 even when running without -v. I remember i was about to do that but got distracted.. or i did implement it but didn't push to remote... or was it all just a dream. Who knows anymore.

[2021-01-26 12:46] #268 closed

[2021-01-26 12:58] snobu commented on #314
[code]

Judging by this output, i would suggest two things:

1. Try a different output folder via the `-o` parameter, for example `-o C:\Users\saadm\Videos`.
2. Try a stable ffmpeg build, one that has a version number (like 4.3) not a nightly build (git-something-something)
https://ffmpeg.org/download.html#build-windows

[2021-01-26 14:58] snobu commented on #311
Thank you for this. Will add a note to the README.

[2021-01-26 14:58] #311 closed

[2021-01-26 16:09] Itzal95 commented on #314
okay, will do thanks

[2021-01-27 23:45] wantolinez4 opened #317 "Message "More?" on Windows"
OS:

Launch command used:

<details>
<summary>Verbose  log</summary>

[code]
</details>

Hi Everyone, I'm new using GITHUB.

When I run destreamer on Windows using this command:

**destreamer.cmd -i ^https://web.microsoftstream.com/video/581efe5a-21b7-4b37-bed7-xxxxxxxxxxxx^**

I get the message:

**More?**

What am I doing wrong? Thanks in advance

[2021-01-28 17:02] snobu commented on #317
What's up with that `^` (caret) symbol there? You don't need to quote the URL, but if you must, use double quotes `"https://..."`.

[2021-01-29 03:42] wantolinez4 commented on #317
Hi, thanks for your quick answer.

Now I have this error:

![image](https://user-images.githubusercontent.com/20325438/106228743-ff008400-61b9-11eb-87ef-48a5e4e7a0f9.png)

How can I solve this? Thanks in advance for your help!

[2021-01-30 09:43] andybegh opened #318 "code: 'MODULE_NOT_FOUND',"
OS: MacOS Big Sur 11.1

Hello Everyone,
I tried to install Destreamer V. 3.0 on my MacBook Pro, but when I try to download something I got this error

node:internal/modules/cjs/loader:352
      throw err;
      ^

Error: Cannot find module '/Users/andybegh/aria2/node_modules/image-q/dist/iq.js'. Please verify that the package.json has a valid "main" entry
    at tryPackage (node:internal/modules/c

[2021-01-30 22:22] Alex87a commented on #275
Hi @snobu, are there any news on this new form of video upload? The lessons will start at the beginning of March but it is still not clear whether they will be uploaded to MS Stream or Sharepoint...

[2021-01-31 07:36] ajay1806 opened #319 "Destreamer.cmd command not working after installing Bash terminal (WSL)"
OS: WINDOWS 10

Launch command used: destreamer.cmd -i "URL" -o path

<details>
<summary>Verbose  log</summary>

[code]
</details>

[2021-01-31 07:36] ajay1806 commented on #319
Ealier before installing bash terminal, i was able to download the videos from MS Stream

[2021-01-31 12:33] snobu commented on #275
Public roadmap says June 2021, it's going to take a while until we can test this out.
https://www.microsoft.com/en-us/microsoft-365/roadmap?filters=&searchterms=68830

[2021-01-31 12:36] snobu commented on #319
WSL is not Bash Terminal it's a fully functional Linux system alongside Windows. If you installed destreamer on Windows, use it on Windows via cmd.exe or PowerShell. If you want to use it in WSL see the README file for caveats.

[2021-01-31 12:48] FraH90 commented on #275
Are you sure about that?
The code you're referencing to is about the new web app.

Instead look at this, which is about the ability to save videos to SharePoint:

https://www.microsoft.com/microsoft-365/roadmap?featureid=67138

Here is says launched, so theoretically the tenant of a team should be able to save its new recorded videos with the new SharePoint thing (it says that the launch is happen

[2021-01-31 13:50] lukaarma commented on #275
@FraH90 From what I may be wrong but aren't SharePoint and OneDrive both a file hosting/sharing platform? A specialized tool like Destreamer might not be needed. Anyway if I ever get my hands on a Sharepoint/OneDrive video I'll take a look, for now I don't have any

[2021-01-31 13:55] FraH90 commented on #275
Yes, they are obviously.
But from what I've understand, tenant (like a whole institution) can set very specific permission, like disable the possibility to download all the videos recorded on the platform; they will be hosted on SharePoint/onedrive, but you can only stream them, like it's happening right now.

Microsoft is explicitly saying that the SharePoint model will enable more control over a

[2021-02-01 09:25] snobu commented on #275
Why are teachers not enabling download permissions? I mean even today in the "classic" Microsoft Stream? Is it a cumbersome process or is it intentional because some dumb-ass internal university politics?

For the SharePoint/OneDrive thing, we need to have access to it first to provide an answer, right now we can just speculate.

[2021-02-01 09:35] FraH90 commented on #275
The second. But more than dumb-ass internal university politics, i would say dumb-ass professors. They're practically "jealous" of their work.

Most of them are old school, they're afraid maybe that letting students downloading videolessons will "spread" their work over internet maybe (which I will not be afraid of, if I was them, if I knew that the lessons were top quality)

So destreamer is a li

[2021-02-02 06:07] xxcbzxx opened #320 "REQUEST: Extensions to be enabled before load"
Would need Windows 10 Accounts extension.

[2021-02-02 15:47] lukaarma commented on #320
You can plug in the browser you use daily, like Chrome or Firefox, where you already have the extension installed. See [here](https://github.com/snobu/destreamer#can-i-plug-in-my-own-browser) for details

[2021-02-02 15:49] lukaarma commented on #318
did you run `npm i; npm run build` ?

[2021-02-02 15:51] lukaarma commented on #317
It happens every time you run it? Or was it a one time deal?

[2021-02-02 15:51] #273 closed

[2021-02-02 15:54] #259 closed

[2021-02-02 15:54] #264 closed

[2021-02-02 15:55] #277 closed

[2021-02-02 15:55] wantolinez4 commented on #317
Every time that I run it

[2021-02-02 15:56] lukaarma commented on #249
Closing this for now..hope it's fixed for real

[2021-02-02 15:56] #249 closed

[2021-02-02 15:58] #291 closed

[2021-02-02 15:59] #292 closed

[2021-02-02 16:01] lukaarma commented on #297
Did you try any other video? Or were you able to download it in the end?

Sorry for the very late response, was too busy before :/

[2021-02-02 16:02] wantolinez4 commented on #317
When I run only "destreamer.cmd"

![image](https://user-images.githubusercontent.com/20325438/106626826-15099e00-6546-11eb-8182-1db32baf34f3.png)

[2021-02-02 16:02] lukaarma commented on #300
Did it happen again? Did you try any other video?

Sorry for the very late response, I was busy

[2021-02-02 16:06] lukaarma commented on #272
Sorry for the super very late response but I'm here. Aria2c was a rough build still, now it should be a little bit more stable. You could try again.
Again sorry for the late response but Uni was requiring all my time

[2021-02-02 16:10] wantolinez4 commented on #317
When I do every step

![image](https://user-images.githubusercontent.com/20325438/106627937-46cf3480-6547-11eb-9261-253079f05e37.png)

[2021-02-02 16:11] lukaarma commented on #301
This is the wrong repo you are creating an issue on. you should check https://github.com/Guray00/destreamer-unipi

[2021-02-02 16:11] #301 closed

[2021-02-02 16:11] lukaarma commented on #302
You should check with the owner of the correct project here https://github.com/Guray00/destreamer-unipi

[2021-02-02 16:11] #302 closed

[2021-02-02 16:14] lukaarma commented on #313
We don't have a choco script and I don't know if we ever will, but I'll add it to the possible enchantment list

[2021-02-02 16:16] lukaarma commented on #317
could you please tun the last step like this
`destreamer.cmd -i "https://web.microsoftstream.com/video/581efe5a-21b7-4b37-bed7-xxxxxxxxxxxx" -v`

[2021-02-02 16:20] wantolinez4 commented on #317
Doesn't work :(

![image](https://user-images.githubusercontent.com/20325438/106629193-94986c80-6548-11eb-973f-345a9cff83e9.png)

[2021-02-02 16:50] lukaarma commented on #317
@snobu please help... I'm really scratching my head on this one

[2021-02-03 08:53] snobu commented on #317
Judging by this -
https://nodejs.org/api/process.html#process_exit_codes

There may be something wrong with your Node installation. Make sure you're using the latest Node or at least version 10+, or try reinstalling altogether.

[2021-02-03 12:22] andybegh commented on #318
Yes i did

[2021-02-03 14:08] wantolinez4 commented on #317
Now I get another error :(

![image](https://user-images.githubusercontent.com/20325438/106758251-4d20e780-65ff-11eb-922b-e4059e7603e7.png)

[2021-02-03 16:46] #319 closed

[2021-02-03 16:46] lukaarma commented on #318
Just to be clear with 3.0 did you mean the aria2c branch?

[2021-02-03 16:51] lukaarma commented on #317
It seems that you directory structure is not how it should be and it's not finding files to build correctly.
I suggest that you wipe the folder from disk and clone/download a new clean copy of Destreamer and `npm i; npm run build` that one.

[2021-02-03 16:52] lukaarma commented on #314
Closing this as solved, if you need more help feel free to reopen it @Itzal95

[2021-02-03 16:52] #314 closed

[2021-02-03 16:55] lukaarma commented on #312
Could you try to download/clone a fresh copy of Destreamer from Github and try again, it seems that a file is missing.

Sorr for the late response.

[2021-02-03 16:57] lukaarma commented on #308
Did anybody had any more problem of this nature? @raul5beltran  @leetim13 @bhushanbhavsa

[2021-02-03 16:57] #306 closed

[2021-02-03 16:57] #305 closed

[2021-02-03 16:58] lukaarma commented on #304
Destreamer supports single video, a list of videos or groups. Nothing else for now.

Sorry for the late response

[2021-02-03 16:58] #304 closed

[2021-02-03 17:03] lukaarma commented on #132
@snobu You said that this is out of scope for Destreamer, so if Iwanted to implement this I should do it in another tool? Or can I try and implement it here?

[2021-02-03 17:18] ajay1806 commented on #319
Thanks for the reply. I re-downloaded the destreamer zip file and followed the readme. This works with me :)

[2021-02-04 04:34] xxcbzxx commented on #320
I tried, but it loads into chromium instead,
changed:
 executablePath: getPuppeteerChromiumPath(),
to
 executablePath: 'C:\Program Files\Google\Chrome\Application\chrome.exe'

but loads into a new profile of chrome not the default profile, which does not have the "Windows 10 Accounts" Extension,

I could not install the extension

Thanks
David

[2021-02-04 04:39] xxcbzxx commented on #320
Also I've changed that executablePath:  'C:\Windows\SystemApps\Microsoft.MicrosoftEdge_8wekyb3d8bbwe\MicrosoftEdge.exe'
it still opens as a new chromium browser with no extensions or profile associated.

[2021-02-04 05:39] xxcbzxx commented on #320
[WARNING] .token_cache not found.

Launching headless Chrome to perform the OpenID Connect dance...

[ERROR] Error: Failed to launch the browser process! spawn C:Program FilesGoogleChromeApplicationchrome.exe ENOENT

TROUBLESHOOTING: https://github.com/puppeteer/puppeteer/blob/main/docs/troubleshooting.md

    at onClose (C:\Users\David Lay\destreamer\node_modules\puppeteer\lib\cjs\puppeteer\node\

[2021-02-04 06:10] #320 closed

[2021-02-04 06:11] xxcbzxx commented on #320
Added
`ignoreDefaultArgs: true ,
`
under `executablePath: getPuppeteerChromiumPath(),`

[2021-02-04 13:50] lukaarma commented on #320
Ok, sorry if I wasn't able to help, happy that you solved :D

[2021-02-04 15:22] snobu commented on #132
@lukaarma I would never say no to a PR if you implement that. However i would probably wait until we learn more about the SharePoint/OneDrive MSStream vNext thing, since it may affect how Teams saves recordings.

[2021-02-05 03:13] zhudock commented on #247
I spent a few minutes on this. It's similar to several of the prior examples. I tried to match the corner radius used in the official logo. I also used [ColorHexa Color Gradient](https://www.colorhexa.com/color-gradient) with the original colors to generate the gradient for the bars.  I'd be happy to share the SVG as well, but here's a PNG preview

![DeStreamer](https://user-images.githubuserconte

[2021-02-05 09:45] snobu commented on #247
I like it for v3.0, can we have just three lines at the top instead of 5? And a little bit more padding between the lines.
@lukaarma What do you think? Should we adopt this as our official v3 logo? Which reminds me we should promote that branch as default.

[2021-02-05 09:48] snobu commented on #247
@zhudock If you welcome a challenge how about replacing the three lines at the top with GitHub activity style pixles -

![image](https://user-images.githubusercontent.com/6472374/107017561-f60a4680-67a7-11eb-9859-7b6b8ef91f56.png)

So it looks like the arrow at the bottom gets put together by gathering all those pixels together.

[2021-02-05 09:54] lukaarma commented on #247
Out of all the logo proposed I prefer this last one, hands down.

I'm ok with that, the branch still needs more testing and love because it's still a has quite rough edges... It's a bit of a glass cannon: top notch performance but if something goes wrong it has a tough time recovering

[2021-02-05 12:39] zhudock commented on #247
I'll see what I can come up with in the next day or 2!

[2021-02-06 12:18] zhudock commented on #247
Here's my first logo, re-worked with 3 lines instead of 5, and also a very hastily done preview of implementing a GitHub activity graph style arrow. I plan to adjust number of lines, padding, colors, based on feedback.

![DeStreamer-3-lines](https://user-images.githubusercontent.com/12414689/107117894-6d44e680-684b-11eb-80fa-3c060a09e2a6.png) ![DeStreamer_github_graph](https://user-images.githubus

[2021-02-07 14:25] wantolinez4 commented on #317
I erased the folder and install again, but now I get this message when I write `npm run build`

![image](https://user-images.githubusercontent.com/20325438/107149361-2bd53980-6926-11eb-8735-90a218fe095f.png)

[2021-02-07 15:51] wantolinez4 commented on #317
Is there a way to undo the `clone` instruction? To star the process from the beginning

[2021-02-07 19:51] jayzeppelin opened #323 "Termux instalation (without root, android 11)"
Check this error from installing...
![Screenshot_20210207-204657_Termux](https://user-images.githubusercontent.com/35917828/107157762-3b846a80-6986-11eb-9725-5c132082213d.jpg)

[2021-02-09 17:48] yylliw commented on #300
Yes, the same issue with any video.

No problem, it's already honorable from you to spend time on that.

[2021-02-09 17:58] DavideCerqua opened #324 "[FATAL ERROR] The FFmpeg version currently installed is too old!"
OS: Win10

Launch command used: .\destreamer.ps1 -i https://msit.microsoftstream.com/video/ff24a1ff-0400-b564-25cc-f1eb68e9eed2

'ffmpeg' is not recognized as an internal or external command,
operable program or batch file.

[FATAL ERROR] The FFmpeg version currently installed is too old!
Destreamer requires a fairly recent release of FFmpeg to download videos

Please provide steps update FFmpeg v

[2021-02-09 18:15] DavideCerqua commented on #324
I copied binary .exe file in the root folder, it is working now

[2021-02-09 18:16] #324 closed

[2021-02-09 18:16] DavideCerqua commented on #324
I copied binary .exe file in the root folder, it is working now

[2021-02-09 20:24] lukaarma commented on #323
Without root you won't be able to install Destreamer because it requires some level of permission that the standard user does not have, in this case one package is creating a symlink and it can't.
Not Destreamer's fault, closing

[2021-02-09 20:24] #323 closed

[2021-02-09 20:26] lukaarma commented on #317
you can delete the folder you originally created (or move to another folder) if you want to start with a fresh clone instruction

[2021-02-09 20:26] #297 closed

[2021-02-09 20:26] #276 closed

[2021-02-09 20:26] #272 closed

[2021-02-09 20:27] lukaarma commented on #300
@yylliw Could you try to update both ffmpeg and Destreamer to the lastest version possible please?

[2021-02-09 20:28] #308 closed

[2021-02-09 20:29] #312 closed

[2021-02-10 10:09] btarm opened #325 "Unnkown error: exit code 4"
Whether I pass links through terminal or a text file, I get "[FATAL ERROR] Unknown error: exit code 4". I can run "--help" normally. "npm install" and "npm run build" passed without any errors. "--verbose" does not provide anything other than the aforementioned error code.

macOS: 11.2
destreamer: 2.1.0
npm: 7.5.3
node: 15.4.0

[2021-02-11 03:21] wantolinez4 commented on #317
I changed the directory, but I still get the same error:

![image](https://user-images.githubusercontent.com/20325438/107599391-5822db80-6bee-11eb-8d59-1a017ab3753c.png)

[2021-02-12 09:34] andybegh commented on #318
@lukaarma exactly, I've a MBP 16inc 2019

[2021-02-12 14:18] emmecirm opened #326 "chromium login error message"
Hello!
When I digit the command ./destreamer.sh -I "URL" I always got a login error page on chromium about my account.
It seems that my microsoft account is not valid for login and I should use an organization one. How could I resolve it?
Thanks in advance!

[2021-02-13 15:53] Erik-Ilavsky commented on #325
same problem with
debian 10.4
npm 6.14.4
node v12.16.3

[2021-02-16 17:08] ctyeong commented on #325
Same with

Ubuntu 18.04
npm 7.5.1
node v15.8

[2021-02-17 19:17] leetim13 commented on #308
@lukaarma I tried downloading videos again today, and this "permission denied" issue still persists. I am guessing that if our organization remove download permissions for the videos, we will run into this error (could be the new MS stream update). Could you try uploading a video and remove download permissions and try to repro this issue?

I was able to use destreamer a few months before (even on

[2021-02-18 11:54] mbenitog commented on #210
It works. Tested on macOS Big Sur.

I couldn't get it to work exactly as you said. I only had to replace `$(realpath ./video)` with an absolute path and it works perfectly fine now.

[2021-02-19 08:19] snobu commented on #326
You may need to login at a different URL. How do you login usually to MS Stream? Just navigate to that page and once signed in destreamer will try to capture the session cookie.

[2021-02-19 09:08] lukaarma commented on #325
I'm sorry but I've not been able to reproduce this error, I'll keep trying because I'm not sure what else you could do
The only things that comes to mind is to clean everything (node, Destreamer) and reinstall from 0

[2021-02-19 11:01] emmecirm commented on #326
I was able to login with my email but it didn't work, both with teams login (http://teams.microsoft.com) and "login.microsoftonline.com". With the last url I'm into my office account and in both cases destreamer give me this error:
     TimeoutError: waiting for target failed: timeout 150000ms exceeded
    at Object.waitWithTimeout (/Users/myname/destreamer/node_modules/puppeteer/lib/cjs/puppeteer

[2021-02-19 14:50] ctyeong commented on #325
Could there be anything related to the fact that the video I'd like to download is the one only open to a particular group?

[2021-02-19 17:30] snobu commented on #326
After you login, can you navigate to the video page quickly see if that helps?
If you video page URL is not `web.microsoftstream.com/something`we may have a very different problem here, meaning your tenant has cloaked the URL destreamer expects to find.

See this -
https://github.com/snobu/destreamer/blob/master/src/destreamer.ts#L84

[2021-02-19 17:35] snobu commented on #325
No, no API call gets made, either because it can't reach the network (are you using a proxy?) or some other reason that Node fails to catch when it exists.

[2021-02-19 18:14] lukaarma commented on #325
@snobu we are catching the error code seeing as

is the error we print for an unknown code on exit.

[2021-02-19 18:16] snobu commented on #325
Yes but there's no other message being returned from Node, right? Other than the exit code. Or is it and we drop it?

[2021-02-19 18:21] emmecirm commented on #326
It hosted on sharepoint, it’s possible to download it?

[2021-02-19 18:28] lukaarma commented on #325
The [callback ](https://nodejs.org/api/process.html#process_event_exit) is passed only the exit code.
My diagnosis is that FFmpeg is failing it's check (error number 4 in our [ERROR_CODE](https://github.com/snobu/destreamer/blob/c81b16c8f399174cc110f2aede987f9c9bdbdbe9/src/Errors.ts#L5)) but the ERRORS object is not yet loaded somehow and our code cannot link the error code to the correct message.

[2021-02-19 18:29] snobu commented on #326
So just SharePoint or is MSStream redirecting you to SharePoint?

Can you post the video URL here? Redact it however you see fit so this doesn't become a privacy concern.

[2021-02-19 18:35] snobu commented on #325
@ctyeong what is your ffmpeg version?

[2021-02-19 18:45] emmecirm commented on #326
https://uniroma2.sharepoint.com/:v:/r/sites/RIPARTIRESOSTENIBILIEdII-ILPROJECTMANAGEMENTCOMELEVADICRESCI/Documenti%20condivisi/Materiale%20Didattico/video%20lezioni/Plenaria/01%20-%20Plenaria%20(parte%20I)%2009.02.2021.mp4?csf=1&web=1&e=Ad1kep

[2021-02-19 19:09] snobu commented on #326
Sorry, no, we are unable to download from SharePoint.

[2021-02-19 19:47] emmecirm commented on #326
No chance in the future?

[2021-02-19 20:10] snobu commented on #326
Maybe. No promises though.

[2021-02-20 14:28] Erik-Ilavsky commented on #325
i had problem ffmpeg version 4.1.4-1~deb10u1, but after upgrade to ffmpeg version 4.3.1 it's working.
But is there is another problem with -f return 404, with sequential loop with -i is working (possible MS rate limit ?), i will report it.

[2021-02-20 16:29] Erik-Ilavsky commented on #325
downloading is working until first HTTP error 404 is occured, but process return code is 0

[2021-02-21 12:42] mohamed-elwakil opened #327 "Error 4048"
I get the following error message. Any idea how to solve it?

Created directory: videos

[WARNING] .token_cache not found.

Launching headless Chrome to perform the OpenID Connect dance...
Navigating to login page...
We are logged in.
Wrote access token to token cache.
At this point Chromium's job is done, shutting it down...

Fresh access token dropped into .token_cachen

[Error: EPERM: operation

[2021-02-22 00:25] diego200052 commented on #325
I solved the problem updating the version of ffmpeg to 4.3.1 or above.

[2021-02-22 00:44] diego200052 commented on #325
I was on 4.1.2 ffmpeg version and I got the error

[2021-02-22 09:28] btarm commented on #325
Went from ffmpeg 4.2.1 to 4.3.2 and the problem was solved. Thanks!

[2021-02-22 09:28] #325 closed

[2021-02-24 08:13] Snoteleks opened #328 "I cannot open destreamer.sh"
Whenever I double click on the file "destreamer.sh", a black window shows up before closing itself shortly after. I've followed every step correctly in "How to build", it's the "Usage" part that I can't figure out. Please help. Thank you.

Edit: forgot to add, I also tried to plug "./destreamer.sh", "/destreamer.sh", and "destreamer.sh" to the regular cmd black window that appears when I search fo

[2021-02-24 08:34] lukaarma commented on #328
You have to be in the Destreamer folder where all the files are (use cd to move between folders, plenty of tutorials if you need to learn that) and if you are using CMD you have to use destreamer.cmd not .ah

Hope this helps :)

[2021-02-24 08:49] weixu0834 opened #329 "RangeError: Invalid array length"
OS: Windows 10

Launch command used: $ ./destreamer.sh -i "https://web.microsoftstream.com/video/a40f2c61-f458-46a6-a025-452dc814043e"

I download compiled  ffmpeg.exe, and put these three exe into project's root file.
I use cmd command also shows same error and by the way, I pull down the polimi version of this code.

<details>
<summary>Verbose  log</summary>

[code]
</details>

[2021-02-24 08:50] weixu0834 commented on #329
![image](https://user-images.githubusercontent.com/26054604/108974049-03886180-76c0-11eb-8b13-f3ffed8addbb.png)

[2021-02-24 08:52] lukaarma commented on #329
I'll take a better look this evening, in the mean time could you run it with the --verbosse flag?

[2021-02-24 11:14] weixu0834 commented on #329
it seems same error
Access token still good for 59 minutes.

Fetching metadata...
RangeError: Invalid array length
    at Object.parse (E:\个人文件\Study\POLIMI\SEMESTER4\destreamer\node_modules\cli-progress\lib\options.js:48:38)
    at new SingleBar (E:\个人文件\Study\POLIMI\SEMESTER4\destreamer\node_modules\cli-progress\lib\single-bar.js:8:24)
    at downloadVideo (E:\个人文件\Study\POLIMI\SEMESTER4\destrea

[2021-02-24 11:19] weixu0834 commented on #329
I using windows own cmd shell and try to avoid Chinese characters thus can be solved.

[2021-02-24 16:53] Noah-It-All commented on #328
yep run it from cmd or powershell, if your on windows use .cmd instead of sh

[2021-02-24 17:33] Snoteleks commented on #328
I tried opening destreamer.cmd, and the same thing happens... won't open for more than a milisecond then close itself!

[2021-02-24 17:45] snobu commented on #327
Looks like puppeteer isn't starting up for you. Try to plugin your own Chromium based browser instead. See the README for instructions.

[2021-02-24 17:46] snobu commented on #328
You don't open it. You open `cmd.exe` and then you type in the download command - see README for samples.

[2021-02-24 17:48] snobu commented on #329
You are using CygWin or some other variant of a half-baked Linux shell on Windows. Please use either cmd.exe or PowerShell and everything will be well.

[2021-02-24 17:50] snobu commented on #300
Looks like a nightly built ffmpeg. Get a stable version of ffmpeg. Stable versions are numbered 4.x.x.

[2021-02-24 18:48] Snoteleks commented on #328
I opened cmd.exe and typed the download command, and it said:

"destreamer.cmd" is not recognized as an internal or external command, operable program or batch file

[2021-02-24 18:51] Noah-It-All commented on #328
did you remember to do `.\destreamer.cmd` or did you just write `destreamer.cmd` because for it to work you would need to use `.\destreamer.cmd`

[2021-02-25 15:34] Snoteleks commented on #328
firstly, when I do .\destreamer.cmd or ./destreamer.cmd  it tells me the same thing: it is not recognized as an internal or external command, operable program or batch file

secondly, I am in the folder while running the commands, but the only place I can write is in the black "cmd.exe" windows. If I open any file named "destreamer (which are in the folder) directly by double-clicking on them, the

[2021-02-25 17:13] Noah-It-All commented on #328
I am truly sorry if I sounded impatient it wasn't at you I was working on an assignment at the time! Try opening the folder where you saved the files in file explorer then type cmd in the hot bar (i put in an image of the hotbar)
![image](https://user-images.githubusercontent.com/66562321/109190183-d476fc00-7762-11eb-83b9-054c78f944d4.png)

[2021-02-25 17:15] Noah-It-All commented on #328
then run the commands `npm install` and when that is done do `npm run build` after that try `./destreamer.cmd
` again

[2021-02-25 17:20] Noah-It-All commented on #328
to download the video you need use the command `./destreamer.cmd -i "the video url goes here"`

[2021-02-25 18:16] snobu commented on #328
You don't need the `.\` in cmd.exe.
[code]

[2021-02-25 19:49] Noah-It-All commented on #328
Either way it works

[2021-02-25 20:35] #326 closed

[2021-02-25 20:36] lukaarma commented on #317
Sorry for the delayed response, update your ffmpeg to a more recent release (2019 or up) and all should be good

[2021-02-26 08:34] Snoteleks commented on #328
It finally recognized the command! Except..... (sorry it's in Spanish)

![image](https://user-images.githubusercontent.com/79539003/109275493-1ceef200-7815-11eb-817d-ff0a1b50af5a.png)

(I tried every possible combination and only .\destreamer.cmd was recognized lol)
So yeah basically ffmpeg isn't recognized even though I downloaded the ffmpeg file and put it in the same folder as the README, like

[2021-02-26 09:21] Snoteleks commented on #328
hello I tried again with the FFmpeg 4.3.2 "4:3" that was literally released 6 DAYS AGO and is "the latest version" and it still tells me the version is too old :( i plugged in the same command as before

![image](https://user-images.githubusercontent.com/79539003/109281251-5e36d000-781c-11eb-9618-af94395a4077.png)

[2021-02-26 13:44] Noah-It-All commented on #328
[https://github.com/BtbN/FFmpeg-Builds/releases/download/autobuild-2021-02-26-12-32/ffmpeg-n4.3.2-win64-gpl-4.3.zip](download this) extract it then drag everything from the bin folder and drag it to the destreamer folder

[2021-02-26 14:48] Snoteleks commented on #328
oh my GOD IT WORKED it finally worked im so happy, thank you all so much, i cannot stress enough how important your help has been

[2021-02-26 14:57] Snoteleks commented on #328
quick question...... how do i convert the MKV videos to MP4

[2021-02-26 15:08] Noah-It-All commented on #328
when you run the command use `.\destreamer.cmd -i "video url goes here" --format "mp4"`  so just add `--format "mp4"` to whatever command you use